<% content_for(:custom_head) do %>
	<style>
		.logo-sign-in { width: 400px; position: relative; left: 50%; margin-left: -200px; margin-top: 40px; margin-bottom: 20px; }
		.form-wrapper { border: 1px solid #e0e0e0; background: #fff; border-radius: 4px; padding-top: 50px; }
	</style>
<% end %>
<section>
	<div class="row">
		<div class="large-6 large-centered medium-8 medium-centered columns">			
			<%= image_tag 'logo-sign-in.png', :class => 'logo-sign-in' %>
		</div>
	</div>
</section>
<section class="content-wrapper">
	<div class="row">
		<div class="large-6 large-centered columns medium-8 medium-centered form-wrapper">
			<%= form_tag sessions_path, :class => "custom", :data => {:abide => ''} do %>
				<div>
					<%= text_field_tag :email, params[:email], :placeholder => "email", :autofocus => "" , :required => '', :pattern => 'email' %>
					<small class="error">Please provide email</small>
				</div>
				<div>
					<%= password_field_tag :password, nil, :placeholder => 'password', :required => '', :pattern => 'password' %>
					<small class="error">Please provide password</small>
				</div>
				<ul class="inline-list button-container">
					<li class="right">						
						<%= submit_tag 'Sign In', :class => 'button large radius primary' %>
					</li>
					<li class="left">
						<%= link_to 'Forgot My Password', resetpassword_path, :class => 'gray' %>
					</li>
				</ul>
			<% end %>
		</div>
	</div>
</section>
