<% content_for(:custom_head) do %>
	<style>
		.logo-sign-in { width: 400px; position: relative; left: 50%; margin-left: -200px; margin-top: 40px; margin-bottom: 20px; }
		.form-wrapper { border: 1px solid #e0e0e0; background: #fff; border-radius: 4px; padding-top: 50px; }
	</style>
<% end %>
<section>
	<div class="row">
		<div class="large-6 large-centered medium-8 medium-centered columns">			
			<%= image_tag 'logo-sign-in.png', :class => 'logo-sign-in' %>
		</div>
	</div>
</section>
<section class="content-wrapper">
	<div class="row">
		<div class="large-6 large-centered columns medium-8 medium-centered form-wrapper">
			<%= form_for @user, :url => password_reset_path(params[:id]), :data => {:abide => ''}, html: {class: "custom"} do |f| %>
				<div>
					<%= f.password_field :password, :placeholder => 'password', :required => '', :pattern => 'password' %>
					<small class="error">Passwords must be at least 8 characters with 1 capital letter, 1 number, and one special character.</small>
				</div>	
				<div>
					<%= f.password_field :password_confirmation, :placeholder => 'repeat password', :required => '', :pattern => 'pattern', :equalto => 'password', :pattern => 'password'  %>
					<small class="error">Passwords must match.</small>
				</div>
				<ul class="inline-list button-container">
					<li class="right">						
						<%= submit_tag 'Change Password', :class => 'button large radius primary' %>
					</li>			
				</ul>
			<% end %>
		</div>
	</div>
</section>
