To reset your password, click the URL below

<%= changepassword_path(@user.password_reset_token, :only_path=>false) %>

If you did not request your password to be reset, just ignore this emial and your password will continue to stay the same