<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <p><%= @user.first %> <%= @user.last %>,</p>

    <p>Welcome to <a href="http://www.bonobolearning.com">Bonobo</a>, let's do good things.</p>

    <p>
      You have successfully signed up to <a href="http://www.bonobolearning.com">Bonobo</a>,
      your username is: <%= @user.email %>.<br/>
    </p>

    <p>
      To login to the site, just follow this <%= link_to 'link', edit_signup_path(id:@user.confirm_email_token, student_signup:@student_signup, :only_path=>false) %>.
    </p>

    <p>Thanks for joining and have a great day!</p>
    
  </body>
</html>