var newLiTag
<% if @media.file_name.filename %>
	newLiTag = "<li class='selected' id='<%= @media.id %>'><%= @media.file_name.filename %></li>"
<% else %>
	newLiTag = "<li class='selected' id='<%= @media.id %>'><%= @media.link %></li>"
	if($("div#panel2-2 > ul.media-list > li:contains(<%= @media.link%>)").length != 0) {
		return false;
	}
<% end %>
var newLi = $(newLiTag).click(function() {
	$(this).toggleClass('selected');
	if($(this).hasClass('selected')) {
		var $hiddenInput = $('<input/>',{type:'hidden',name:'lesson[media_library_ids][]',value:$(this).attr('id')});
		$('div.content-wrapper > form').prepend($hiddenInput);
	} else {
		$("div.content-wrapper > form > input[value='" + $(this).attr('id')+"']").remove();
	}
});

<% if @media.file_name.filename %>
	$("div#panel2-1 > ul.media-list").prepend(newLi);
<% else %>
	$("div#panel2-2 > ul.media-list").prepend(newLi);
<% end %>

var $hiddenInput = $('<input/>',{type:'hidden',name:'lesson[media_library_ids][]',value:$(newLi).attr('id')});
$('div.content-wrapper > form').prepend($hiddenInput);

$("input#link").val('');