<section id="sign-up-progess">
	<div class="row">
		<h6 class="show-for-small-only text-center gray-lt">Step 1: Cart</h6>
		<div class="progress-wrapper hide-for-small">
			<div class="small-3 large-3 columns">
				<p><span>1</span> Cart</p>
			</div>
			<div class="small-9 large-9 columns">&nbsp;</div>
		</div>
	</div>
</section>
<section class="content-wrapper">
	<div class="row">
		<div class="large-12 columns">
			<div class="account-type">
				<center>
					<%= image_tag 'badge-enterprise.png' %>
				</center>
			</div>	
			<div class="row">
				<div class="large-2 hide-for-small columns">
					<%= image_tag 'empty-image.png', :class=>'step-1' %>
				</div>
				<div class="large-5 columns">
					<h3 class="blue"><%= @plan_title %> Subscription</h3>
					<p>This monthly subscription provides your group access for up to <%= @users_number %> learners.</p>	
				</div>
				<div class="large-4 columns price">					
					<h3 class="big">$<%= @price_int_part %><small>.<%= @price_dec_part %> / Month</small></h3>					
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div id="total" class="row">
		<div class="large-12 columns">
			<h6>Due Now: $<%= @price %></h6>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<ul class="inline-list button-container">
				<li class="right">
					<%= link_to 'Continue', new_companysignup_path(:price_int_part=>@price_int_part, :price_dec_part=>@price_dec_part, :price => @price, :plan => @plan, :plan_title => @plan_title, :users_number => @users_number, :package_level => @package_level), :class=>"button large radius primary" %>					
				</li>
				<li class="left">
					<%= link_to '← Choose a different plan', {:controller => 'welcome' } %>
				</li>
			</ul>
		</div>
	</div>
</section>