<section id="sign-up-progess">
	<div class="row">
		<h6 class="show-for-small-only text-center gray-lt">Step 3: Account</h6>
		<div class="progress-wrapper hide-for-small">
			<div class="small-3 large-3 columns">
				<p><span>1</span> Cart</p>
			</div>
			<div class="small-3 large-3 columns">
				<p><span>2</span> Account</p>
			</div>
			<div class="small-3 large-3 columns">
				<!--<p><span>3</span></p>-->
			</div>
			<div class="small-3 large-3 columns">
				<!-- <p><span>4</span> Success</p> -->
			</div>
		</div>
	</div>
</section>
<section class="content-wrapper">
	<%= form_for @user, url: companysignups_path, method:'post', :data => {:abide => ''}, html: {class: "custom", id: 'signup-form'} do |f| %>
		<%= hidden_field_tag 'price_int_part', @price_int_part %>
		<%= hidden_field_tag 'price_dec_part', @price_dec_part %>
		<%= hidden_field_tag 'plan', @plan %>
		<%= hidden_field_tag 'plan_title', @plan_title %>
		<%= hidden_field_tag 'users_number', @users_number %>
		<%= hidden_field_tag 'name', @name %>
		<%= hidden_field_tag 'price', @price %>
		<%= f.hidden_field :role, :value => User::COMPANY_ROLE %>
		<%= f.hidden_field :package_level, :value => @package_level %>
		<div class="row">
			<div class="large-12 columns">
				<div class="account-type">
					<center>
						<%= image_tag 'badge-enterprise.png' %>
					</center>
				</div>
				<div class="row">
					<div class="large-2 hide-for-small columns">
						<%= image_tag "empty-image.png", :class=>"step-3" %>
					</div>
					<div class="large-10 columns">
						<h3 class="blue"><%= @plan_title %> Subscription</h3>
						<p>Fill out the account administrator profile.</p>
					</div>
				</div>
				<% flash.each do |name, message| %>
      				<%= content_tag :div, message, :id => "flash_#{name}" %>
    			<% end %>								
				<div class="row">
					<div class="large-8 large-offset-2 columns">
						<%= f.text_field :first, :placeholder => 'first name', :required => '' %>
						<small class="error">First Name is required.</small>
					</div>
					<div class="large-2 columns">
					</div>
				</div>
				<div class="row">
					<div class="large-8 large-offset-2 columns">
						<%= f.text_field :last, :placeholder => 'last name', :required => '' %>
						<small class="error">Last Name is required.</small>
					</div>
					<div class="large-2 columns">
					</div>
				</div>
				<div class="row">
					<div class="large-8 large-offset-2 columns">
						<%= f.text_field :company, :placeholder => 'company name', :required => '' %>
						<small class="error">Company Name is required.</small>
					</div>
					<div class="large-2 columns">
					</div>
				</div>
				<div class="row">
					<div class="large-8 large-offset-2 columns">
						<%= f.text_field :job_title, :placeholder => 'job title', :required => '' %>
						<small class="error">Job title is required.</small>
					</div>
					<div class="large-2 columns">
					</div>
				</div>
				<div class="row">
					<div class="large-8 large-offset-2 columns">
						<%= f.text_field :email, :placeholder => 'email', :required => '', :pattern => 'email' %>
						<small class="error">Email is required.</small>
					</div>
					<div class="large-2 columns">
					</div>
				</div>
				<div class="row last-row">
					<div class="large-4 large-offset-2 columns">
						<%= f.password_field :password, :placeholder => 'password', :required => '' %>
						<small class="error">Passwords must be at least 8 characters, one number or special character.</small>
					</div>
					<div class="large-4 columns">
						<%= f.password_field :password_confirmation, :placeholder => 're-enter password', :data => {:equalto => 'user_password'}, :required => '' %>
						<small class="error" data-error-message="">Passwords must match.</small>
					</div>
					<div class="large-2 columns">
					</div>
				</div>
			</div>
		</div>
	<% end %>
</section>
<section>
	<div class="row">
		<div class="large-12 columns">
			<ul class="inline-list button-container">
				<li class="right">
					<a href="javascript:void(0);" onclick="$('#signup-form').submit();" class="button large radius primary">Continue</a>
				</li>
			</ul>
		</div>
	</div>
</section>