<% content_for(:custom_head) do %>

  <%= javascript_include_tag "https://js.stripe.com/v2/" %>

  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" %>

  <script type="text/javascript">

  	  Stripe.setPublishableKey("<%= Rails.application.config.stripe[:publishable_key] %>");
	  
	  var stripeResponseHandler = function(status, response) {
	    var $form = $('#payment-form');
	    if (response.error) {
	      // Show the errors on the form
	      $form.find('.payment-errors').text(response.error.message);
	      $form.find('#error-message').text(response.error.message);
	      $form.find('#error-message').parent().parent().show();
	      $form.find('ul.inline-list li a').removeAttr('disabled');
	    } else {
	      // token contains id, last4, and card type
	      var token = response.id;
	      // Insert the token into the form so it gets submitted to the server
	      $form.append($('<input type="hidden" name="stripeToken" />').val(token));
	      // and submit
	      $form.get(0).submit();
	    }
	  };
	  
	  $(document).ready(function() {
	  	$('#payment-form').submit(function(event) {
	  		if($(this).find('[data-invalid]').length == 0) {
	  			var $form = $(this);
	  			$("ul.inline-list li a").attr('disabled', true);
	      		Stripe.card.createToken($form, stripeResponseHandler);
	      		return false;
	  		};
	    });	
	  });
  </script>

<% end %>

<section id="sign-up-progess">
	<div class="row">
		<h6 class="show-for-small-only text-center gray-lt">Step 2: Payment</h6>
		<div class="progress-wrapper hide-for-small">
			<div class="small-3 large-3 columns">
				<p><span>1</span> Cart</p>
			</div>
			<div class="small-3 large-3 columns">
				<p><span>2</span> Payment</p>
			</div>
			<div class="small-3 large-3 columns">
				<!-- <p><span>3</span> Account</p> -->
			</div>
			<div class="small-3 large-3 columns">
				<!-- <p><span>4</span> Success</p> -->
			</div>
		</div>
	</div>
</section>
<section class="content-wrapper">
	<%= form_tag(companysignup_path(@user), method: :patch, :data => {:abide => ''}, class:'custom', id:'payment-form') do %>
		<%= hidden_field_tag 'price_int_part', @price_int_part %>
		<%= hidden_field_tag 'price_dec_part', @price_dec_part %>
		<%= hidden_field_tag 'plan', @plan %>
		<%= hidden_field_tag 'plan_title', @plan_title %>
		<%= hidden_field_tag 'users_number', @users_number %>
		<%= hidden_field_tag 'id', @user.id %>
		<div class="row">
			<div class="large-12 columns">
				<div class="account-type">
					<center>
						<%= image_tag 'badge-enterprise.png' %>
					</center>
				</div>	
				<div class="row">
					<div class="large-2 hide-for-small columns">
						<%= image_tag 'empty-image.png', :class=>'step-2' %>
					</div>
					<div class="large-10 columns">
						<h3 class="blue"><%= @plan_title %> Subscription</h3>
					</div>
				</div>
				<div class="row" style="display:none">
					<div class="large-8 large-offset-2 columns">
						<span id="error-message" class="round alert label"></span>
					</div>
					<div class="large-2 columns">
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="large-8 large-offset-2 columns">
						<input id="name" name="name" type="text" placeholder="enter name as it appears on credit card" autofocus="" required>
						<small class="error">Name on credit card is required</small>
					</div>
					<div class="large-2 columns">
					</div>
				</div>
				<div class="row">
					<div class="large-6 large-offset-2 columns">
						<input type="text" placeholder="enter credit card number" data-stripe="number" required>
						<small class="error">Credit card number is required</small>
					</div>
					<div class="large-2 columns">
						<input type="text" placeholder="cvc" data-stripe="cvc" required>
						<small class="error">Cvc code is required</small>
					</div>
					<div class="large-2 columns">
					</div>
				</div>
				<div class="row last-row">
					<div class="large-3 large-offset-2 columns">
						<%= select_month(Date.today, {}, {'data-stripe' => 'exp-month'}) %>
					</div>
					<div class="large-3 columns">
						<%= select_year(Date.today, {}, {'data-stripe' => 'exp-year'}) %>
					</div>
					<div class="large-2 columns">
					</div>
				</div>
			</div>
		</div>
	<% end %>
</section>
<section>
	<div id="total" class="row">
		<div class="large-12 columns">
			<h6>Due Now: $<%= @price %></h6>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<ul class="inline-list button-container">
				<li class="right">
					<a href="javascript:void(0);" onclick="$('#payment-form').submit();" class="button large radius primary">Continue</a>
				</li>
			</ul>
		</div>
	</div>
</section>