	<% content_for(:custom_head) do %>  

  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" %>

  <script type="text/javascript">	  
	  $(document).ready(function() {
	  	$('.progress-wrapper').css({
			background: '#9acd2b'
		});
	  });
  </script>

<% end %>

<section id="sign-up-progess">
	<div class="row">
		<h6 class="show-for-small-only text-center gray-lt">Step 4: Success!</h6>
		<div class="progress-wrapper hide-for-small">
			<div class="small-3 large-3 columns">
				<p><span>1</span> Cart</p>
			</div>
			<div class="small-3 large-3 columns">
				<p><span>2</span> Payment</p>
			</div>
			<div class="small-3 large-3 columns">
				<p><span>3</span> Account</p>
			</div>
			<div class="small-3 large-3 columns">
				<p class="last"><span>4</span> Success</p>
			</div>
		</div>
	</div>
</section>

<section class="content-wrapper">
	<div class="row">
		<div class="large-12 columns">
			<div class="account-type">
				<center>
					<%= image_tag "badge-enterprise.png" %>
				</center>
			</div>	
			<div class="row last-row">
				<div class="large-2 hide-for-small columns">
					<%= image_tag 'empty-image.png', :class=>'step-4' %>
				</div>
				<div class="large-5 columns">
					<h3 class="blue">You have successfully signed up for: <%= @plan_title %> Subscription</h3>					
					<p>This monthly subscription provides your group access for up to <%= @users_number %> learners.</p>
				</div>
				<div class="large-4 columns">
					<div class="reciept">
						<h3 class="big">$<%= @price_int_part %><small>.<%= @price_dec_part %></small></h3>
						<p>This is a monthly recuring payment.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="row">
		<div class="large-12 columns">
			<p class="text-center"><a href="" class="button large radius primary">Get Started</a></p>
		</div>
	</div>
</section>