<%= form_for @user, url: signups_path, :method => 'post', :data => {:abide => ''}, html: {class: "custom", id: 'signup-form'} do |f| %>
	<%= f.hidden_field :role, :value => User::USER_ROLE %>
	<%= hidden_field_tag :student_signup, @student_signup %>
	<div class="row">
		<div class="large-12 columns">
			<%= f.text_field :email, :placeholder => 'enter your email address', :required => '' %>
			<small class="error">Email is required.</small>
		</div>
	</div>
	<div class="row">
		<div class="large-6 columns">
			<%= f.text_field :first, :placeholder => 'first name', :required => '' %>
			<small class="error">First name is required.</small>
		</div>
		<div class="large-6 columns">
			<%= f.text_field :last, :placeholder => 'last name', :required => '' %>
			<small class="error">Last name is required.</small>
		</div>
	</div>
	<div class="row">
		<div class="large-6 columns">
			<%= f.password_field :password, :placeholder => 'enter your password', :required => '' %>
			<small class="error">Passwords must be at least 8 characters, one number or special character.</small>
		</div>
		<div class="large-6 columns">
			<%= f.password_field :password_confirmation, :placeholder => 're-enter password', :data => {:equalto => 'user_password'}, :required => '' %>
			<small class="error" data-error-message="">Passwords must match.</small>
		</div>
	</div>
	<section>
		<div class="row">
			<div class="large-12 columns">
				<ul class="inline-list button-container">
					<li class="right">
						<%= submit_tag 'Continue', :class => 'button large radius primary' %>
						<!--<a href="javascript:void(0);" onclick="$('#signup-form').submit();" class="button large radius primary">Continue</a>-->
					</li>
					<li class="right">
						<%= link_to 'Already have account?', new_session_path, :class=>"link-secondary" %>
					</li>
				</ul>
			</div>
		</div>
	</section>
<% end %>