<section class="content-wrapper">
	<form class="custom">
		<div class="row form-wrapper">
			<div class="large-12 columns">
				<div class="account-type">
					<center>
						<%= image_tag 'badge-teacher.png' %>
					</center>
				</div>	
				<div class="row last-row">
					<div class="large-2 medium-2 hide-for-small columns">
						<%= image_tag 'empty-image.png', :class => 'error' %>
					</div>
					<div class="large-10 medium-10 columns">
						<h3 class="blue">Opps!</h3>
						<p>Something has gone wrong.</p>
					</div>
				</div>
				
			</div>
		</div>
	</form>
</section>