<% content_for :title do %>
	Create an account
<% end %>
<section class="content-wrapper">
	<form class="custom">
		<div class="row form-wrapper">
			<div class="large-12 columns">
				<div class="account-type">
					<center>
						<%= image_tag 'badge-teacher.png' %>
					</center>
				</div>	
				<div class="large-8 medium-8 large-centered medium-centered columns">
					<div class="large-12 medium-12 columns">
						<h3 class="blue">Almost there!</h3>
						<p>Next check your email for a link to complete your sign-up process.</p>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>