<% content_for :title do %>
	Bank Account Information
<% end %>
<% content_for(:custom_head) do %>

  <%= javascript_include_tag "https://js.stripe.com/v2/" %>

  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" %>

  <script type="text/javascript">
	  
	  
	  Stripe.setPublishableKey('<%= ENV['PUBLISHABLE_KEY'] %>');

	  var stripeResponseHandler = function(status, response) {
	    var $form = $('#account-form');
	    if (response.error) {
	      // Show the errors on the form
	      $('div.alert > p').text(response.error.message);
	      $('div.alert').show();
	    } else {
	      // token contains id, last4, and card type
	      var token = response.id;
	      // Insert the token into the form so it gets submitted to the server
	      $form.append($('<input type="hidden" name="stripeToken" />').val(token));

	      $("#account_number").attr('disabled', 'disabled');
	      $("#routing_number").attr('disabled', 'disabled');
	      $("#account_number_confirmation").attr('disabled', 'disabled');
	      $("#routing_number_confirmation").attr('disabled', 'disabled');

	      // and submit
	      $form.get(0).submit();
	    }
	  };
	  
	  $(document).ready(function() {
	  	$('#account-form').submit(function(event) {
	      if($(this).find('[data-invalid]').length == 0) {
	      	$("ul.inline-list li a").attr('disabled', true);
	      	Stripe.bankAccount.createToken({
        	country: 'US',
        	routingNumber: $("input[data-stripe='routingNumber']").val(),
        	accountNumber: $("input[data-stripe='accountNumber']").val()
      		}, stripeResponseHandler);
	      	return false;
	      };
	    });	
	  });
  </script>

<% end %>

<section class="content-wrapper">
	<div class="row">
		<div class="large-12 columns">
			<%= render '/alert' %>
		</div>
	</div>
	<%= form_tag(signup_path(@user), method:'patch', class:'custom', id:'account-form', :data => {:abide => ''}) do %>		
		<div class="row form-wrapper">
			<div class="large-12 columns">
				<div class="account-type">
					<center>
						<%= image_tag 'badge-teacher.png' %>
					</center>
				</div>	
				<div class="row">
					<div class="large-10 medium-10 large-offset-2 columns">
						<h3 class="blue">Create & Sell Classes for Free!</h3>
						<p>Tell us where to deliver the money you earn from the sales of your classes.</p>
					</div>
				</div>
				<div class="row">
					<div class="large-4 large-offset-2 columns">
						<%= text_field_tag 'first', nil, :placeholder => 'first name as it appears on bank account', :required => '' %>
						<small class="error">Enter first name on account</small>
					</div>
					<div class="large-2 columns">
					</div>
					<div class="large-4 columns">
						<%= text_field_tag 'last', nil, :placeholder => 'second name as it appears on bank account', :required => '' %>
						<small class="error">Enter last name on account</small>
					</div>
					<div class="large-2 columns">
					</div>
				</div>			
				<div class="row">
					<div class="large-4 medium-6 large-offset-2 columns">
						<label>Account Type</label>
						<%= select_tag :account_type, "<option>Checking</option><option>Savings</option><option>Business</option>".html_safe %>
					</div>
					<div class="large-4 medium-6 columns">
						<label>Currency</label>
						<%= select_tag :currency, "<option>US Dollar</option>".html_safe %>
					</div>
					<div class="large-2 columns">
					</div>
				</div>
				<div class="row last-row">
					<div class="large-4 medium-6 large-offset-2 columns">
						<%= text_field_tag 'account_number', nil, :placeholder => 'account number', :required => '', :'data-stripe' => 'accountNumber' %>
						<small class="error">Account number is required</small>
					</div>
					<div class="large-4 medium-6 columns">
						<%= text_field_tag 'account_number_confirmation', nil, :placeholder => 're-enter account number', :required => '', :'data-equalto' => 'account_number' %>
						<small class="error">Account number doesn't match</small>
					</div>
					<div class="large-2 columns">
					</div>
				</div>							
				<div class="row">
					<div class="large-4 medium-6 large-offset-2 columns">
						<%= text_field_tag 'routing_number', nil, :placeholder => 'routing number', :required => '', :'data-stripe' => 'routingNumber' %>
						<small class="error">Routing number is required</small>
					</div>
					<div class="large-4 medium-6 columns">
						<%= text_field_tag 'routing_number_confirmation', nil, :placeholder => 're-enter routing number', :required => '', :'data-equalto' => 'routing_number'%>
						<small class="error">Routing number doesn't match</small>
					</div>
					<div class="large-2 columns">
					</div>
				</div>
			</div>
		</div>
	<% end %>
</section>
<section>
	<div class="row">
		<div class="large-12 columns">
			<ul class="inline-list button-container">
				<li class="right">
					<a href="javascript:void(0)" onclick="$('#account-form').submit();" class="button large radius primary">Continue</a>
				</li>
				<li class="right">
					<%= link_to 'Skip this step', signup_path(@user, :skip => true), :method=>:patch, :class => 'link-secondary' %>
				</li>
			</ul>
		</div>
	</div>
</section>