<% content_for :title do %>
	Create an account
<% end %>
<section class="content-wrapper">
		<% if @user.errors.any? %>
			<div class="row">
				<div class="large-12 columns">
					<div data-alert class="alert-box radius alert">
						<% @user.errors.full_messages.each do |msg| %>
							<p><%= msg %></p>
						<% end %>
						<a href="#" class="close">&times;</a>
					</div>
				</div>
			</div>
		<% end %>
		<div class="row form-wrapper">
			<div class="large-12 columns">
				<div class="account-type">
					<center>
						<%= image_tag 'badge-teacher.png' %>
					</center>
				</div>	
				<div class="row last-row">
					<div class="large-8 medium-8 large-centered medium-centered columns">
						<h3 class="blue">Buy &amp; Sell Online Classes</h3>
						<p>Rethink learning—with Bonobo's online course marketplace, anyone can teach and everyone can learn. </p>
						<%= render 'form' %>
					</div>
				</div>
		</div>
</section>