<% content_for :title do %>
	Create an account
<% end %>
<% content_for(:custom_head) do %>  

  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" %>

  <script type="text/javascript">	  
	  $(document).ready(function() {
	  	$('.progress-wrapper').css({
			background: '#9acd2b'
		});
	  });
  </script>

<% end %>

<section class="content-wrapper">
	<div class="row form-wrapper">
		<div class="large-12 columns">
			<div class="account-type">
				<center>					
					<%= image_tag 'badge-teacher.png' %>
				</center>
			</div>	
			<div class="row last-row">
				<div class="large-7 medium-7 columns large-offset-2">
					<h3 class="blue">Congratulations! </h3>
					<p>Your Bonobo account is ready. Let's start learning.</p>
				</div>
				<div class="large-3 medium-3 hide-for-small columns">
					<%= image_tag "success-teacher.png", :class => 'sucess-image' %>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="row">
		<div class="large-12 columns">
			<p class="text-center">
				<% if params[:student_signup] %>
					<%= link_to 'Get Started', courses_path, :class => 'button large radius primary' %>
				<% else %>
					<%= link_to 'Get Started', courses_path, :class => 'button large radius primary' %>
				<% end %>
			</p>
		</div>
	</div>
</section>
