  <script type="text/javascript">
    
    Stripe.setPublishableKey('<%= ENV['PUBLISHABLE_KEY'] %>');

    var stripeResponseHandler = function(status, response) {
      var $form = $('#bank-form');
      if (response.error) {
        // Show the errors on the form
        $('div.alert > p').text(response.error.message);
        $('div.alert').show();
      } else {
        // token contains id, last4, and card type
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));

        $("#account_number").attr('disabled', 'disabled');
        $("#routing_number").attr('disabled', 'disabled');
        $("#account_number_confirmation").attr('disabled', 'disabled');
        $("#routing_number_confirmation").attr('disabled', 'disabled');

        // and submit
        $form.get(0).submit();
      }
    };
    
    $(document).ready(function() {
      $('#bank-form').submit(function(event) {
        if($(this).find('[data-invalid]').length == 0) {
          $("ul.inline-list li a").attr('disabled', true);
          Stripe.bankAccount.createToken({
          country: 'US',
          routingNumber: $("input[data-stripe='routingNumber']").val(),
          accountNumber: $("input[data-stripe='accountNumber']").val(),
          }, stripeResponseHandler);
          return false;
        };
      }); 
    });
  </script>







   <div id="bank-added-label">
      <div class="row">
        <div class="large-2 medium-2 columns">
          <label class="top-border">Bank Account<label>
        </div>
        <div class="large-10 columns">
         <% if @user.stripe_id? %>
             <p class="gray">Added<span class="right"><a id="change-bank-info" class="button small secondary radius">Change</a></span></p>
          <% else %>
             <p class="gray"><span class="right"><a id="change-bank-info" class="button small secondary radius">Add Bank Account</a></span></p>
          <% end %>
        </div>
      </div>
    </div>


  <%= form_tag(users_bank_path, id:'bank-form', :remote => true, :data => {:abide => ''}) do %> 
        <div class="row">
          <div class="large-2 medium-2 columns">
            <label class="top-border">Name on Account<label>
          </div>
          <div class="large-5 columns">
            <%= text_field_tag 'first_name', nil, :placeholder => 'first name as it appears on account', :required => '' %>
            <small class="error">First Name is required</small>
          </div>
          <div class="large-5 columns">
            <%= text_field_tag 'last_name', nil, :placeholder => 'last name as it appears on account', :required => '' %>
            <small class="error">Last Name is required</small>
          </div>
        </div>
        <div class="row">
          <div class="large-2 medium-2 columns">
            <label class="top-border">Name of Bank<label>
          </div>
          <div class="large-10 columns">
            <%= text_field_tag 'bank', nil, :placeholder => 'Name of Bank', :required => '' %>
            <small class="error">Bank Name is required</small>
          </div>
        </div>
        <div class="row">
          <div class="large-2 medium-2 columns">
            <label class="top-border">Account Details<label>
          </div>
          <div class="large-5 medium-5 columns">
            <label>Account Type</label>
            <%= select_tag :account_type, "<option>Checking</option><option>Savings</option><option>Business</option>".html_safe %>
          </div>
          <div class="large-5 medium-5 columns">
            <label>Currency</label>
            <%= select_tag :currency, "<option>US Dollar</option>".html_safe %>
          </div>
        </div>
        <div class="row">
           <div class="large-2 medium-2 columns">
             <label class="top-border">Account Number<label>
           </div>
           <div class="large-5 medium-5 columns">
             <%= text_field_tag 'account_number', nil, :placeholder => 'account number', :required => '', :'data-stripe' => 'accountNumber' %>
              <small class="error">Account number is required</small>
           </div>
           <div class="large-5 medium-5 columns">
              <%= text_field_tag 'account_number_confirmation', nil, :placeholder => 're-enter account number', :required => '', :'data-equalto' => 'account_number' %>
              <small class="error">Account number doesn't match</small>
           </div>
        </div>
          <div class="row last-row">
            <div class="large-2 medium-2 columns">
              <label class="top-border">Routing Number<label>
            </div>
            <div class="large-5 medium-5 columns">
              <%= text_field_tag 'routing_number', nil, :placeholder => 'routing number', :required => '', :'data-stripe' => 'routingNumber' %>
              <small class="error">Routing number is required</small>
            </div>
            <div class="large-5 medium-5 columns">
              <%= text_field_tag 'routing_number_confirmation', nil, :placeholder => 're-enter routing number', :required => '', :'data-equalto' => 'routing_number'%>
              <small class="error">Routing number doesn't match</small>
            </div>
          </div>
          <button class="button primary radius medium right" onclick="$('#account-form').submit();">Save</buton>
  <% end %>