<form>
	<div class="row">
		<div class="large-2 medium-2 columns">
			<label class="top-border">Picture<label>
		</div>
		<div class="large-10 medium-10 columns">
			<div class="clearfix" style="margin-bottom:20px; ">
				<img src="assets/images/teacher-profile-image-thumb.png" class="left">
				<input type="file" id="imageUpload" class="button secondary radius small left" style="width:auto; background:transparent;">
			</div>
		</div> 
	</div>
	<div class="row">
		<div class="large-2 medium-2 columns">
			<label class="top-border">Name<label>
		</div>
		<div class="large-5 medium-5 columns">
			<input type="text" id="lesson-title" placeholder="first">
		</div>
		<div class="large-5 medium-5 columns">
			<input type="text" id="lesson-title" placeholder="last">
		</div>  
	</div>
	<div class="row">
		<div class="large-2 medium-2 columns">
			<label class="top-border">Bonobo Address<label>
		</div>
		<div class="large-5 medium-5 columns">
			<input type="text" id="url-prefix" placeholder="" value="https://www.bonobolearning.com/category/" disabled class="url-prefix">
		</div>
		<div class="large-5 medium-5 columns">
			<input type="text" id="url" placeholder="" value="username">
		</div>   
	</div>
	<div class="row">
		<div class="large-2 medium-2 columns">
			<label class="top-border">Experience<label>
		</div>
		<div class="large-10 medium-10 columns">
			<select>
	          <option value="starbuck">1 Year</option>
	          <option value="hotdog">2 Years</option>
	          <option value="apollo">3 Years</option>
	          <option value="apollo">4 Years</option>
	          <option value="apollo">4 Years</option>
	          <option value="apollo">5 Years</option>
	          <option value="apollo">6 Years</option>
	          <option value="apollo">7 Years</option>
	          <option value="apollo">7+ Years</option>
	        </select>
		</div>
	</div>
	<div class="row">
		<div class="large-2 medium-2 columns">
			<label class="top-border">Bio<label>
		</div>
		<div class="large-10 medium-10 columns">
			<textarea placeholder="enter a description of your expertise in this subject..."></textarea>
		</div> 
	</div>
	<div class="row">
		<div class="large-2 medium-2 columns">
			<label class="top-border">Website<label>
		</div>
		<div class="large-10 medium-10 columns">
			<input type="text" id="url" placeholder="enter your web site url">
		</div> 
	</div>
	<div class="row">
		<div class="large-2 medium-2 columns">
			<label class="top-border">Facebook<label>
		</div>
		<div class="large-10 medium-10 columns">
			<input type="text" id="url" placeholder="enter your facebook page url">
		</div> 
	</div>
	<div class="row">
		<div class="large-2 medium-2 columns">
			<label class="top-border">Twitter<label>
		</div>
		<div class="large-10 medium-10 columns">
			<input type="text" id="url" placeholder="enter your twitter page url">
		</div> 
	</div>	
	<button class="button primary radius medium right">Save</buton>
</form>