<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td> <%= @user.email %> </td>
        <td><%= link_to 'Show', @user %></td>
        <td><%= link_to 'Edit', edit_user_path(@user) %></td>
        <td><%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
