<script type="text/javascript">
	
    $(document).ready(function() {
    	$('#global-nav').find("#courses").addClass('active');
    	$('ul.media-list > li').click(function() {
  			$(this).toggleClass('selected');
  			if($(this).hasClass('selected')) {
  				var $hiddenInput = $('<input/>',{type:'hidden',name:'lesson[media_library_ids][]',value:$(this).attr('id')});
  				$('div.content-wrapper > form').prepend($hiddenInput);
  			} else {
  				$("div.content-wrapper > form > input[value='" + $(this).attr('id')+"']").remove();
  			}
		});
		$('.close-reveal-modal').click(function() {
	  		$('.alert-container').removeClass('hide');
		});
    });
  
</script>