<%= form_for @lesson, :url => videolesson_path(@lesson), :method => 'patch', :remote => true, :data => {:abide => ''} do |f| %>
	<%= render 'formContent', :f => f %>
	<% if @lesson.published %>
		<a class="button primary radius medium right disabled">Update</a>
	<% else %>
		<button class="button primary radius medium right disabled" disabled="disabled">Update</buton>
	<% end %>
<% end %>