<%= f.hidden_field :lesson_type, :value => Lesson::VIDEO_LESSON %>
<% @lesson.media_libraries.each do |media| %>
	<input type="hidden" name="lesson[media_library_ids][]" value="<%= media.id %>" />
<% end %>
<div class="row">
	<div class="large-2 medium-2 columns">
		<label class="top-border">Lesson Title<label>
	</div>
	<div class="large-10 medium-10 columns">
		<%= f.text_field :title, :placeholder => 'enter lesson title...', :required => '' %>
		<small class="error">Please enter lesson title</small>
	</div> 
</div>
<div class="row">
	<div class="large-2 medium-2 columns">
		<label class="top-border">Lesson Description<label>
	</div>
	<div class="large-10 medium-10 columns">
		<%= f.text_area :description, :placeholder => 'what will a student learn in this lesson...', :required => '' %>
		<small class="error">Please provide description</small>
	</div> 
</div>
<div class="row">
	<div class="large-2 medium-2 columns">
		<label class="top-border">Add Video <a href="#" data-reveal-id="embed-video-help">?</a><label>
	</div>
	<div class="large-10 medium-10 columns">
		<%= f.text_area :vimeo_code, :placeholder => 'paste vimeo embed code here...', :required => '' %>
		<small class="error">Please provide vimeo code</small>
		<a href="https://vimeo.com/log_in" target="new" class="button small radius secondary">Log Into Viemo</a>
		<a href="#" target="new" class="button small radius secondary" data-reveal-id="embed-video-help">Help</a>
	</div> 
</div>
<div class="row last">
	<div class="large-2 medium-2 columns">
		<label class="top-border">Video Transcript<label>
	</div>
	<div class="large-10 medium-10 columns">
		<%= f.text_area :transcript, :placeholder => 'enter your video script here...', :required => '', :class=>'transcript' %>
		<small class="error">Please provide transcript</small>
	</div> 
</div>