<div id="embed-video-help" class="reveal-modal medium" data-reveal>
	<h2>How to Get Vimeo Embed Code</h2>
  	<p class="lead">Log into your Vimeo account and follow these steps:</p>
  	<ol>
  		<li>Hover over "Videos" in the top navigation</li>
  		<li>Click "My Vides"</li>
  		<li>Click on the video you would like to add</li>
  		<li>CLick on the "Share" overlay button</li> 
  		<li>Click on the "Embed" textarea to highlight the code</li>
  		<li>On a Mac click, click "Command" + "C"</li>
  		<li>On a PC click, "Control" + "C"</li>
  		<li>Come back to this screen and click "Command" + "V" or "Control" + "V"</li>
	</ol>
	<a class="close-reveal-modal">&#215;</a>
</div>