<div class="large-10 medium-10 small-12 columns">
	<div class="content-wrapper">
		<%= render '/warning' %>
		<%= render '/success' %>
		<ul class="breadcrumbs">
			<li><a href="course-detail-template.html">Courses</a></li>
			<li><a href="syllabus-temp	late.html">Syllabus</a></li>
			<li class="current"><a href="syllabus-template.html">Add A Lesson</a></li>
		</ul>
		<section class="clearfix">
			<div data-alert class="alert-box radius success" style="display:none">
				<span></span>
				<a href="#" class="close">&times;</a>
			</div>
			<h1 class="video-lesson-title left" style="width: intrinsic;">Video Lesson</h1>
			<!-- <a href="" class="button tiny radius right add" data-reveal-id="add-resources"><span>+</span> Add Resources</a> -->
		</section>
		<%= render 'create' %>
	</div>
</div>

<%= render 'vimeo_how_to' %>

<%= render '/lessons/add_resource' %>

<%= render '/courses/alert_update_changes' %>

<%= render 'commonjs' %>

<script type="text/javascript">
	$(document).ready(function() {
		$("input,textarea").change(function() {
			<% if @lesson.published %>
				$("a:contains('Update')").removeClass('disabled');
				$("a:contains('Update')").click(function() {
					$('#update-modal').foundation('reveal', 'open');
				});
			<% else %>
				$("button:contains('Update')").removeClass('disabled');
				$("button:contains('Update')").removeAttr('disabled');
			<% end %>
		});

		$("input#file_name").bind('change', function() {
			$("div#drop-zone form").submit();
			enabledUpdateButton();
		});
	});

	function enabledUpdateButton() {
		$("button:contains('Update')").removeClass('disabled');
	}
</script>