<div class="large-10 medium-10 small-12 columns">
	<div class="content-wrapper">
		<%= render '/alert' %>
		<ul class="breadcrumbs">
			<li><a href="course-detail-template.html">Courses</a></li>
			<li><a href="syllabus-template.html">Syllabus</a></li>
			<li class="current"><a href="syllabus-template.html">Add A Lesson</a></li>
		</ul>
		<section class="clearfix">
			<div data-alert class="alert-box radius success" style="display:none">
				<span></span>
				<a href="#" class="close">&times;</a>
			</div>
			<h1 class="video-lesson-title left" style="width: intrinsic;">Video Lesson</h1>
			<!-- <a href="" class="button tiny radius right add" data-reveal-id="add-resources"><span>+</span> Add Resources</a> -->
		</section>
		<%= form_for @lesson, :url => videolessons_path, :method => 'post', :data => {:abide => ''} do |f| %>
			<%= f.hidden_field :course_id, :value => @course.id %>
      		<%= render 'formContent', :f => f %>
      		<% if @course.published %>
      			<a id="addNewLesson" class="button primary radius medium right" data-reveal-id="update-modal">Save</a>
      		<% else %>
      			<button id="addNewLesson" class="button primary radius medium right">Save</buton>
      		<% end %>
		<% end %>
	</div>
</div>

<%= render 'vimeo_how_to' %>

<%= render '/lessons/add_resource' %>

<%= render '/courses/alert_update_changes' %>

<%= render 'commonjs' %>