<div class="section-content-wrapper">
	<div class="flex-video widescreen vimeo">
		<%= raw(@lesson.vimeo_code) %>
	</div>
</div>
<div class="panel radius" style="margin-top:30px;">
	<h1><span class="video"></span><%= @lesson.title %></h1>
	<p><%= @lesson.description %></p>
</div>
<div class="panel radius">
	<h6>Transcript</h6>
	<%= @lesson.transcript %>
</div>