$("div.success > p").html('Video lesson has been updated').parent().show();
<% if !@lesson.published %>
	$("a:contains('Publish')").removeClass('disabled');
<% end %>
<% if @course.count_lessons >= 3 %>
	$("a:contains('Publish')").attr('href', '/course/publish/' + <%= @course.id %>);
<% end %>