  <script type="text/javascript">
	  
	  Stripe.setPublishableKey('pk_test_6NuUhlSjbY34JaKZ06WyBGA1');

	  var stripeResponseHandler = function(status, response) {
	    var $form = $('#account-form');
	    if (response.error) {
	      // Show the errors on the form
	      $('div.alert > p').text(response.error.message);
	      $('div.alert').show();
	    } else {
	      // token contains id, last4, and card type
	      var token = response.id;
	      // Insert the token into the form so it gets submitted to the server
	      $form.append($('<input type="hidden" name="stripeToken" />').val(token));

	      $("#account_number").attr('disabled', 'disabled');
	      $("#routing_number").attr('disabled', 'disabled');
	      $("#account_number_confirmation").attr('disabled', 'disabled');
	      $("#routing_number_confirmation").attr('disabled', 'disabled');

	      // and submit
	      $form.get(0).submit();
	    }
	  };
	  
	  $(document).ready(function() {
	  	$('#account-form').submit(function(event) {
	      if($(this).find('[data-invalid]').length == 0) {
	      	$("ul.inline-list li a").attr('disabled', true);
	      	Stripe.bankAccount.createToken({
        	country: 'US',
        	routingNumber: $("input[data-stripe='routingNumber']").val(),
        	accountNumber: $("input[data-stripe='accountNumber']").val(),
      		}, stripeResponseHandler);
	      	return false;
	      };
	    });	
	  });
  </script>