<section class="cat-top">
	<div class="row">
		<div class="large-12 medium-12 columns">
			<div class="svg-wrapper">
				<p class="large text-center" style="color:#72930a;">
					<svg id="art-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="96" height="96" viewBox="0 0 96 96">
					<path d="M37.032 68.42c-0.524 0-1.036-0.204-1.416-0.584l-7.456-7.452c-0.464-0.464-0.668-1.116-0.56-1.752 4.604-26.764 54.484-54.252 61.5-54.252 0.928 0 1.504 0.376 1.824 0.696 1.16 1.16 0.584 3 0.268 3.992-3.26 10.412-28.488 54.768-53.808 59.332-0.116 0.016-0.232 0.020-0.352 0.020zM31.74 58.308l5.944 5.94c21.868-5.016 45.584-44.864 49.408-55.344-10.38 3.728-50.396 26.644-55.352 49.404z" fill="#72930a"></path>
					<path d="M6.38 91.616c-1.104 0-2-0.896-2-2 0-8.112 7.34-23.084 11.768-27.516 4.74-4.74 13.004-4.74 17.744 0 2.368 2.376 3.672 5.524 3.672 8.88 0 3.348-1.308 6.5-3.676 8.868-4.424 4.424-19.388 11.768-27.508 11.768zM25.024 62.428c-2.284 0-4.428 0.892-6.044 2.508-3.344 3.344-9.288 15.188-10.416 22.492 7.308-1.116 19.152-7.068 22.496-10.412 1.616-1.612 2.504-3.76 2.504-6.040 0-2.284-0.888-4.432-2.5-6.052-1.616-1.6-3.76-2.496-6.040-2.496z" fill="#72930a"></path>
					<path d="M39.112 40.344l15.836 15.831-2.828 2.829-15.836-15.831 2.828-2.829z" fill="#72930a"></path>
				</svg>
				<br>Learn to Bring Out Your Inner Artist.</p>
			</div>
		</div>
	</div>
</section>
<div id="content-wrapper">
	<section class="first-section">
		<div class="row">
			<div class="large-2 columns">
				<label class="top-border">Featured Classes<label>
			</label></label></div>
			<div class="large-10 columns">

				<% @courses.each do |course| %>
					<a href="classes/logged-out/knitting.html"></a>
					<div class="course-module">
						<%= link_to course_path(course) do %>
							<div class="cover-image-wrapper">
								<h6><%= CourseCategory.find(course.course_category_id).name %></h6>
								<%= image_tag course.cover_image_url.to_s %>
							</div>
							<%= image_tag course.hero_image_url.to_s, :class => 'hide-for-small profile' %>
						<% end %>
						<h4 class="sans">
							<%= link_to course.title, course_path(course), :id => 'course_' + course.id.to_s %>
							<a href="" class="right tiny radius button outline-green">$14.99</a>
						</h4>
						<p class="sans stamp">Level: <%= CourseLevel.find(course.course_level_id).name.capitalize %></p>
					</div>
				<% end %>

			</div>
		</div>
	</section>
	<section class="product">
		<div class="row">
			<div class="large-4 large-offset-8 columns">
				<p class="large text-center">“Finally a learning platform that makes it easy to create online classes and sell them to everyone using the tools I already have.”</p>
				<p class="sans text-center">Meet Kim—an industrial designer and Etsy store owner.</p>
				<p class="text-center"><a href="" class="button small radius outline-white" data-reveal-id="video">Watch Video</a> </p>
			</div>
		</div>
	</section>	
	<section class="stories">
		<div class="row">	
			<div class="large-4 medium-4 columns">
				<center>
					<svg version="1.1" id="bonobo_teacher" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 189 189" enable-background="new 0 0 189 189" xml:space="preserve">
					<circle fill="#88D2D3" cx="94.5" cy="94.5" r="94.5"></circle>
					<g>
						<path fill="#5A4E6D" d="M142.6,62.6c-7.9-14.6-22.2-25.2-39.2-28c-1.4-7.2-6.8-13-13.9-14.9c3.2,6.7,0,12.1-4.7,14.7
							c1.2-2.6,1.9-5.4,2.2-8.3c-2.3,4.2-5.9,7.7-10.4,10.1c-1.1,0.6-2.1,1.2-3,1.8C62,42.8,52.4,51.5,46.4,62.6
							c-14,0.2-25.3,11.6-25.3,25.6c0,13.8,10.9,25.1,24.6,25.6c0.4,3.8,1.6,7.5,3.6,10.8c-0.2-1.6-0.2-3.3-0.1-5c1.2,3.2,3,6.1,5.3,8.6
							c-0.4-1.2-0.7-2.4-1-3.7c5.1,5.8,11.5,10.6,18.7,13.8c4.7,8.9,14,14.7,24.5,14.7c1.6,0,3.2-0.1,4.8-0.4c9.9-1.8,17.7-8.6,21.1-17.4
							c4.8-2.9,9.1-6.5,12.8-10.7c-0.2,1.2-0.5,2.5-1,3.7c2.3-2.5,4.1-5.4,5.3-8.6c0.1,1.7,0.1,3.3-0.1,5c2-3.3,3.2-7,3.6-10.8
							c13.7-0.5,24.6-11.8,24.6-25.6C167.8,74.1,156.6,62.8,142.6,62.6z"></path>
						<path fill="#FFFFFF" d="M133.7,98.4c0-13.2-9.8-25.4-23.4-25.4c-4,0-6.9,0.8-9.4,1.8c-2.1,0.8-4,1.6-6.5,1.6s-4.3-0.7-6.5-1.6
							c-2.5-1-5.3-1.8-9.4-1.8c-16.3,0-23.5,10.7-23.4,25.4c0.6-1.5,1.5-2.9,2.4-4.2c-0.4,2.4-0.4,4.8-0.1,7.1c0.4-1.4,1-2.8,1.7-4.2
							c1.4,7.8,7.6,14,15.4,15.4c-2.9,5-4.1,11.1-3,17.2c2.5,13.9,15.7,23.2,29.6,20.8s23.2-15.7,20.8-29.6c-0.6-3.5-1.9-6.7-3.7-9.5
							c5.9-2.4,10.3-7.8,11.5-14.2c0.7,1.3,1.3,2.8,1.7,4.2c0.4-2.4,0.3-4.8-0.1-7.1C132.3,95.5,133.1,96.9,133.7,98.4z"></path>
						<g>
							<path fill="#5A4E6D" d="M111.6,131.6c-1.7,3-4.5,5.4-7.9,6.7c-3.4,1.3-7.1,1.5-10.5,0.6c-3.4-1-6.2-3-7.9-5.7
								c-0.3-0.4-0.2-1,0.2-1.4c0.4-0.4,1-0.6,1.5-0.4c4.4,1.6,9.2,1.5,13.7-0.3c4.5-1.8,8-5,10-9c0.2-0.5,0.8-0.8,1.4-0.8
								c0.6,0,1,0.4,1.2,0.9C113.8,125.3,113.3,128.6,111.6,131.6z"></path>
						</g>
						<path fill="#5A4E6D" d="M106.4,101.4c1.3,0,2.5,0.4,3.5,1.2c1.1-0.8,1.9-2.6,1.9-4.6c0-2.8-1.5-5.1-3.4-5.1c-1.9,0-3.4,2.3-3.4,5.1
							c0,1.3,0.3,2.5,0.9,3.4C106,101.4,106.2,101.4,106.4,101.4z"></path>
						<path fill="#5A4E6D" d="M79.1,102.6c1-0.7,2.2-1.2,3.5-1.2c0.2,0,0.4,0,0.6,0c0.5-0.9,0.9-2.1,0.9-3.4c0-2.8-1.5-5.1-3.4-5.1
							c-1.9,0-3.4,2.3-3.4,5.1C77.2,100,78,101.7,79.1,102.6z"></path>
						<g>
							<path fill="#5A4E6D" d="M64.8,90c0,0,2.1-9.6,13.2-9.6c5,0,7.6,4.7,7.6,4.7s-3.3-2-8-2C68.3,83.2,64.8,90,64.8,90z"></path>
						</g>
						<g>
							<path fill="#5A4E6D" d="M118.1,93.9c0,0-0.1-8.9-8.1-8.9c-3.6,0-5.5,3.9-5.5,3.9s1.7-1.5,5-1.5C116.2,87.5,118.1,93.9,118.1,93.9z
								"></path>
						</g>
						<g>
							<g>
								<path fill="#5A4E6D" d="M96.8,113.3l2.9-0.5c1-0.2,1.7-1.1,1.6-2.1c-0.2-1-1.1-1.6-2.2-1.4C97.3,109.5,97,111.4,96.8,113.3z"></path>
								<path fill="#5A4E6D" d="M89.4,110.9c-1,0.2-1.7,1.1-1.5,2.1c0.2,1,1.1,1.6,2.2,1.4l2.9-0.5C92.2,112.3,91.3,110.6,89.4,110.9z"></path>
							</g>
						</g>
					</g>
					<path fill="#FFFFFF" d="M38.5,88c-0.5,2.7-0.5,5.5-0.1,8.2c0.4-1.5,1-2.9,1.7-4.3c0.2,3.7,0.8,7.4,1.8,10.9
						c-6.1-2.1-10.4-7.8-10.4-14.5c0-6.8,4.4-12.6,10.6-14.6c-0.3,1.1-0.6,2.2-0.8,3.2c-3.6,4.6-5.5,10.2-5.4,15.9
						C36.5,91.1,37.4,89.5,38.5,88z"></path>
					<path fill="#FFFFFF" d="M147.2,102.7c0.9-3.5,1.6-7.1,1.8-10.9c0.7,1.4,1.2,2.8,1.7,4.3c0.4-2.7,0.4-5.5-0.1-8.2
						c1.1,1.5,2,3.1,2.8,4.8c0-5.7-1.9-11.4-5.4-15.9c-0.2-1.1-0.5-2.2-0.8-3.2c6.1,2,10.6,7.8,10.6,14.6
						C157.6,94.9,153.2,100.6,147.2,102.7z"></path>
					<path fill="#EF6A5E" d="M131.6,87.1c-2.5,0-4.7-0.9-7.2-1.9c-1.2-0.5-2.4-1-3.8-1.4c-2.1-0.8-4.5-1.2-7.1-1.2
						c-6,0-10.7,2.1-13.5,5.6c-1.4-1.2-3.3-1.9-5.5-1.9S90.3,87,89,88.2c-2.8-3.5-7.6-5.6-13.5-5.6c-2.6,0-5,0.4-7.1,1.2
						c-1.4,0.4-2.6,1-3.8,1.4c-2.5,1-4.7,1.9-7.2,1.9c-1.3,0-2.3,1-2.3,2.3c0,1.3,1,2.3,2.3,2.3c1,0,1.8-0.1,2.7-0.2
						c-0.6,1.6-1,3.3-1,5.2c0,9,7.3,16.3,16.3,16.3c9,0,16.3-7.3,16.3-16.3c0-1.2-0.1-2.3-0.4-3.4c0,0,0,0,0,0c0-2,2-2.3,3.1-2.3
						s3.1,0.3,3.1,2.3c0,0,0,0,0,0c-0.3,1.1-0.4,2.2-0.4,3.4c0,9,7.3,16.3,16.3,16.3c9,0,16.3-7.3,16.3-16.3c0-1.9-0.3-3.6-1-5.2
						c0.9,0.2,1.8,0.2,2.7,0.2c1.3,0,2.3-1,2.3-2.3C133.9,88.1,132.9,87.1,131.6,87.1z M75.5,108.3c-6.5,0-11.7-5.3-11.7-11.7
						c0-4.6,2.7-7.3,6.1-8.5c1.3-0.4,2.7-0.7,4.2-0.9c0,0,0,0,0.1,0c0.4,0,0.8,0,1.3,0c5.7,0,11.7,2.5,11.7,9.4
						C87.2,103,81.9,108.3,75.5,108.3z M113.5,108.3c-6.5,0-11.7-5.3-11.7-11.7c0-7,6.1-9.4,11.7-9.4c0.4,0,0.9,0,1.3,0c0,0,0,0,0.1,0
						c1.5,0.1,2.9,0.4,4.2,0.9c3.5,1.3,6.1,3.9,6.1,8.5C125.3,103,120,108.3,113.5,108.3z"></path>
					</svg>
				</center>
				<h3 class="blue">Bonobo Teachers</h3>
				<h5>Create classes &amp; sell them to everyone.</h5>
				<p>Bonobo Teachers sign-up for free to create online courses with a suite of easy-to-use tools that allow you to deliver your expertise. Promote your class with course profiles then market your class on our Facebook page along with other social media channels.</p>
			</div>
			<div class="large-4 medium-4 columns">
				<center>
					<svg version="1.1" id="bonobo_student" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 189 199.1" enable-background="new 0 0 189 199.1" xml:space="preserve">
					<circle fill="#88D2D3" cx="94.5" cy="94.5" r="94.5"></circle>
					<path fill="#EF6A5E" d="M121,134.4c-16.4,10-36.7,10-53.1,0c-6.5-3.9-11,2.4-11,9.5c0,2.7,0,5.6,0,8.3c0,7,4.4,14.6,11,18.5
						c8.2,5,17.4,7.5,26.5,7.5v18.4c0,1.4,1.6,2.5,3.6,2.5c1.9,0,3.4-1,3.6-2.2c0.6,0.8,1.8,1.3,3.2,1.3c2,0,3.6-1.1,3.6-2.5v-0.6
						c0.6,0.8,1.8,1.3,3.2,1.3c2,0,3.6-1.1,3.6-2.5v-1.4c0.6,0.8,1.8,1.3,3.2,1.3c2,0,3.6-1.1,3.6-2.5v-21.6c5.8-4.1,9.6-11.1,9.6-17.6
						c0-2.7,0-5.6,0-8.3C132,136.8,127.6,130.4,121,134.4z"></path>
					<path fill="#5A4E6D" d="M170.9,84c0-15.1-12.2-27.3-27.3-27.3c-1.4,0-2.9,0.1-4.2,0.3c-9.9-14-26.2-23.2-44.7-23.2
						c-2.6,0-5.2,0.2-7.7,0.5c-4-0.7-7.6-2.4-10.6-5c1.1,2.2,2.5,4.3,4.2,6c-4.5-0.7-8.6-4.1-8.1-10.4c-5.2,3.7-7.9,10.1-6.7,16.5
						c-3.4-2.9-8.1-3.7-12.2-2.2c5.1,2.8,4.5,8.3,1.7,11.3c0,0-0.1,0.1-0.1,0.2c-1.9,2-3.6,4.1-5.2,6.3c-1.5-0.3-3-0.4-4.6-0.4
						c-15.1,0-27.3,12.2-27.3,27.3c0,14.8,11.8,26.9,26.6,27.3c0,4.4,1.1,8.7,3.2,12.5c-0.1-1.6-0.1-3.3,0.1-5c1.1,3.2,2.8,6.2,5,8.8
						c-0.5-1.7-0.8-3.4-1-5.2c4.2,5.2,9.3,9.7,15,13.1c4.2,11.2,15,19.2,27.7,19.2c12.7,0,23.5-8,27.7-19.2c5.8-3.4,10.9-7.9,15-13.1
						c-0.2,1.8-0.5,3.5-1,5.2c2.2-2.6,3.9-5.5,5-8.8c0.2,1.7,0.2,3.3,0.1,5c2.1-3.8,3.2-8.1,3.2-12.5C159.2,110.7,170.9,98.7,170.9,84z"></path>
					<path fill="#FFFFFF" d="M135.6,94.6c0-13.2-10.2-25.4-24.4-25.4c-4.2,0-7.2,0.8-9.8,1.8c-2.2,0.8-4.1,1.6-6.7,1.6s-4.5-0.7-6.7-1.6
						c-2.6-1-5.6-1.8-9.8-1.8c-17,0-24.5,10.7-24.4,25.4c0.7-1.5,1.5-2.9,2.5-4.2c-0.4,2.4-0.5,4.8-0.1,7.1c0.2-0.5,1-3.4,2.7-7
						c0,0.4,0,0.8,0,1.2l0,0l0,0v0l0,0c0,8.4,5.5,15.6,13.1,18.2c-2.9,4.3-4.6,9.6-4.6,15.2c0,15.1,12.2,27.3,27.3,27.3
						c15.1,0,27.3-12.2,27.3-27.3c0-5.6-1.7-10.8-4.6-15.2c7.6-2.6,13.1-9.7,13.1-18.2l0,0v0l0,0l0,0c0-0.4,0-0.8,0-1.2
						c1.7,3.5,2.6,6.4,2.7,7c0.4-2.4,0.3-4.8-0.1-7.1C134.1,91.7,135,93.1,135.6,94.6z"></path>
					<path fill="#5A4E6D" d="M106.6,99.5c1.3,0,2.5,0.4,3.5,1.2c1.1-0.8,1.9-2.6,1.9-4.6c0-2.8-1.5-5.1-3.4-5.1c-1.9,0-3.4,2.3-3.4,5.1
						c0,1.3,0.3,2.5,0.9,3.4C106.2,99.5,106.4,99.5,106.6,99.5z"></path>
					<path fill="#5A4E6D" d="M79.2,100.7c1-0.7,2.2-1.2,3.5-1.2c0.2,0,0.4,0,0.6,0c0.5-0.9,0.9-2.1,0.9-3.4c0-2.8-1.5-5.1-3.4-5.1
						c-1.9,0-3.4,2.3-3.4,5.1C77.4,98.1,78.1,99.8,79.2,100.7z"></path>
					<g>
						<path fill="#5A4E6D" d="M67,92.8c0,0,0.1-11.2,11.2-11.2c5,0,7.6,4.3,7.6,4.3s-2.3-2-6.9-2C69.6,83.9,67,92.8,67,92.8z"></path>
					</g>
					<g>
						<path fill="#5A4E6D" d="M122.4,92.8c0,0-0.1-11.2-11.2-11.2c-5,0-7.6,4.3-7.6,4.3s2.3-2,6.9-2C119.8,83.9,122.4,92.8,122.4,92.8z"></path>
					</g>
					<g>
						<g>
							<path fill="#5A4E6D" d="M96.7,110.4h3c1,0,1.9-0.8,1.9-1.8c0-1-0.8-1.8-1.9-1.8C97.7,106.8,97.1,108.6,96.7,110.4z"></path>
							<path fill="#5A4E6D" d="M89.8,106.8c-1,0-1.9,0.8-1.9,1.8c0,1,0.8,1.8,1.9,1.8h3C92.3,108.6,91.6,106.8,89.8,106.8z"></path>
						</g>
					</g>
					<path fill="#5A4E6D" d="M111,123.4c-0.5-0.3-1.1-0.4-1.6-0.3c-0.1,0-6,1.9-14.7,1.9c-8.6,0-14.6-1.9-14.7-1.9
						c-0.6-0.2-1.2-0.1-1.6,0.3c-0.5,0.3-0.8,0.9-0.8,1.5c0,9,7.6,16.4,17,16.4c9.4,0,17-7.3,17-16.4C111.7,124.3,111.4,123.8,111,123.4z
						"></path>
					<path fill="#FFFFFF" d="M29,84c0-8.6,6.7-15.7,15.2-16.3c-0.7,1.7-1.3,3.4-1.8,5.1c-4.4,4.2-7.4,9.6-8.6,15.5
						c1.2-1.7,2.6-3.3,4.2-4.7c-1.1,2.9-1.8,5.9-2,9.1c1.1-2.2,2.5-4.2,4.2-6.1c0,0.6,0,1.2,0,1.8c0,3.9,0.4,7.7,1.2,11.4
						C34.3,98,29,91.6,29,84z"></path>
					<path fill="#FFFFFF" d="M148.1,99.7c0.8-3.7,1.2-7.4,1.2-11.3c0-0.6,0-1.2,0-1.8c1.7,1.9,3.1,3.9,4.2,6.1c-0.2-3.1-0.8-6.2-2-9.1
						c1.6,1.4,3,3,4.2,4.7c-1.2-5.9-4.2-11.3-8.6-15.5c-0.5-1.7-1.1-3.4-1.8-5.1c8.3,0.8,14.8,7.8,14.8,16.3
						C160,91.5,154.9,97.8,148.1,99.7z"></path>
					</svg>

				</center>
				<h3 class="blue">Bonobo Students</h3>
				<h5>Never stop learning!</h5>
				<p>Discover your passion for learning! It’s about time for online learning to be simple and exciting. Just browse our diverse course library and find exactly what need to know. Never stop learning with Bononbo’s course marketplace. Need to know, just Bonobo!</p>
			</div>
			<div class="large-4 medium-4 columns">
				<center>
					<svg version="1.1" id="bonobo_enterprise" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 189 189" enable-background="new 0 0 189 189" xml:space="preserve">
						<path fill="#FFFFFF" d="M38.5,88c-0.5,2.7-0.5,5.5-0.1,8.2c0.4-1.5,1-2.9,1.7-4.3c0.2,3.7,0.8,7.4,1.8,10.9
							c-6.1-2.1-10.4-7.8-10.4-14.5c0-6.8,4.4-12.6,10.6-14.6c-0.3,1.1-0.6,2.2-0.8,3.2c-3.6,4.6-5.5,10.2-5.4,15.9
							C36.5,91.1,37.4,89.5,38.5,88z"></path>
						<circle fill="#88D2D3" cx="94.5" cy="94.5" r="94.5"></circle>
						<path fill="#EF6A5E" d="M118.9,142.4c-3.1,0-12.4,3.8-16.7,7.7c-0.8-1.8-2.6-3.1-4.7-3.1h-6.5c-1.9,0-3.6,1.1-4.5,2.7
							c-4.4-3.8-13.3-7.4-16.3-7.4c-4.1,0-7.3,3.3-7.3,7.3l1.7,10.8c0,4,3.3,7.3,7.3,7.3c2.8,0,9.8-4.2,14-8.5c0.3,2.6,2.5,4.6,5.1,4.6
							h6.5c2.9,0,5.2-2.3,5.2-5.2v0c4.1,4.4,11.6,9,14.6,9c4.1,0,7.3-3.3,7.3-7.3l1.7-10.8C126.2,145.7,122.9,142.4,118.9,142.4z"></path>
						<path fill="#5A4E6D" d="M147,73.3c-1-3.5-2.3-6.8-3.9-9.9c2.2,0,4.3-0.3,6.4-0.8c-2.6-0.5-5.2-1.3-7.6-2.5c3.3-0.1,6.5-0.8,9.5-2
							c-5.4-0.2-10.7-1.5-18.7-8.7c0,0,0,0,0,0c-0.8-0.7-1.5-1.5-2.3-2.2l0,0c-6.4-6.2-27.1-22.5-47.7-19.1c-6.9,1.1-10,7.2-11.1,10.5
							c-2.4,0.2-6.7,0.9-11.1,3.8c-11.9,7.8-16.2,24-17.9,29.9c-0.1,0.3-0.2,0.6-0.3,0.9c0,0.1,0,0.2-0.1,0.2l0,0c0,0,0,0,0,0
							C30.7,75.2,22.1,85,22.1,96.8c0,13.2,10.7,23.9,23.9,23.9c1.4,0,2.9-0.1,4.2-0.4c5,6.9,11.5,12.5,19,16.5
							c5.2,8.5,14.6,14.2,25.3,14.2c10.7,0,20.1-5.7,25.3-14.2c7.5-3.9,14.1-9.6,19-16.5c1.4,0.2,2.8,0.4,4.2,0.4
							c13.2,0,23.9-10.7,23.9-23.9C166.9,85,158.3,75.2,147,73.3z"></path>
						<path fill="#FFFFFF" d="M132.5,90.4c2,1,4.2,1.6,6.4,2c-6.3-4.4-6.3-8.8-9.9-13.3c-0.1-0.2-0.3-0.3-0.4-0.5
							c-3.6-5.4-9.8-8.9-16.8-8.9c-7.4,0-10.4,4-17.3,4s-10-4-17.3-4c-7,0-13.1,3.5-16.8,8.9c-0.1,0.2-0.3,0.3-0.4,0.5
							c-3.6,4.4-3.6,8.9-9.9,13.3c2.2-0.3,4.4-1,6.4-2c-1,1.8-2.4,3.4-3.9,4.7c1.6-0.5,3.1-1.2,4.4-2c0.7,7.7,5.8,14.1,12.7,16.9
							c-1.6,3.5-2.5,7.4-2.5,11.5c0,15.1,12.2,27.3,27.3,27.3c15.1,0,27.3-12.2,27.3-27.3c0-4.1-0.9-8-2.5-11.5
							c6.9-2.7,11.9-9.2,12.7-16.9c1.4,0.9,2.9,1.5,4.4,2C134.9,93.8,133.5,92.2,132.5,90.4z"></path>
						<g>
							<path fill="#5A4E6D" d="M94.5,131c14.1,0,20.6-7.9,21.1-8.4c0.4-0.5,0.4-1.3,0-1.8c-0.5-0.6-1.3-0.7-1.9-0.2
								c-0.7,0.5-7,6.3-19.1,6.3s-18.5-5.7-19-6.2c-0.5-0.5-1.3-0.5-1.8-0.1c-0.6,0.5-0.7,1.4-0.2,2C73.9,123.2,80.4,131,94.5,131z"></path>
						</g>
						<path fill="#5A4E6D" d="M106.4,99.5c1.5,0,2.9,0.6,4,1.5c0.9-0.9,1.4-2.4,1.4-4.2c0-2.8-1.5-5.1-3.4-5.1c-1.9,0-3.4,2.3-3.4,5.1
							c0,1,0.2,1.9,0.5,2.7C105.8,99.5,106.1,99.5,106.4,99.5z"></path>
						<path fill="#5A4E6D" d="M82.6,99.5c0.3,0,0.6,0,0.9,0.1c0.3-0.8,0.5-1.7,0.5-2.7c0-2.8-1.5-5.1-3.4-5.1c-1.9,0-3.4,2.3-3.4,5.1
							c0,1.7,0.6,3.2,1.4,4.2C79.7,100.1,81.1,99.5,82.6,99.5z"></path>
						<g>
							<path fill="#5A4E6D" d="M69.1,93.1c0,0-1.6-8.8,7-10.2c3.8-0.6,6.6,2.9,6.6,2.9s-2-1.2-5.6-0.6C69.9,86.5,69.1,93.1,69.1,93.1z"></path>
						</g>
						<g>
							<path fill="#5A4E6D" d="M119.9,93.1c0,0,1.6-8.8-7-10.2c-3.8-0.6-6.6,2.9-6.6,2.9s2-1.2,5.6-0.6C119.1,86.5,119.9,93.1,119.9,93.1z
								"></path>
						</g>
						<g>
							<g>
								<path fill="#5A4E6D" d="M96.7,112.5h3.3c1.1,0,2.1-0.9,2.1-2c0-1.1-0.9-2-2.1-2C97.9,108.5,97.2,110.5,96.7,112.5z"></path>
								<path fill="#5A4E6D" d="M89.1,108.5c-1.1,0-2.1,0.9-2.1,2c0,1.1,0.9,2,2.1,2h3.3C91.8,110.5,91.1,108.5,89.1,108.5z"></path>
							</g>
						</g>
						<path fill="#FFFFFF" d="M31.7,96.8c0-5.8,3.5-10.8,8.5-13.1c-0.1,1.5-0.2,3.1-0.2,4.6c0,0.4,0,0.8,0,1.2c-0.4,5.5-2.4,5.9-4.6,10.5
							c3.4-1.6,5.1-1.8,5.2-1c0.1,0.6-0.5,1.3-2.8,1.6c2.1,1.1,3.5,1.9,5.2,5.7c0.6,1.6,1.2,3.2,1.9,4.7C37.5,110.5,31.7,104.4,31.7,96.8z
							"></path>
						<path fill="#FFFFFF" d="M144.2,111.1c0.7-1.5,1.3-3.1,1.9-4.7c1.7-3.8,3.1-4.6,5.2-5.7c-2.3-0.4-2.9-1-2.8-1.6
							c0.1-0.8,1.8-0.6,5.2,1c-2.2-4.5-4.2-5-4.6-10.5c0-0.4,0-0.8,0-1.2c0-1.6-0.1-3.1-0.2-4.6c5,2.2,8.5,7.2,8.5,13.1
							C157.3,104.4,151.5,110.5,144.2,111.1z"></path>
						</svg>
				</center>
				<h3 class="blue">Enterprise Supscriptions</h3>
				<h5>Deliver training to your group &amp; thrive.</h5>
				<p>Bonobo Enterprise is our learning management platform that allows you to develop your own training content then deliver, track and manage your training classes. Invite your group and track their progress along the way. Need more assistance? Just browse our course library and deliver exactly what your team needs in minutes.</p>
			</div>
		</div>
		<div class="row">
			<div clas="large-12 columns">
				<p class="text-center"><a href="#" class="button radius large primary" data-reveal-id="join">Join Private Beta for Free!</a></p>
			</div>
		</div>
	</section>
</div>