<div id="add-resources" class="reveal-modal small" data-reveal="">
  	<h2>Add Resources</h2>
  	<dl class="tabs" data-tab="">
		<dd class="active"><a href="#panel2-1">Media Library</a></dd>
		<dd><a href="#panel2-2">Links</a></dd>
	</dl>
	<div class="tabs-content">
		<div class="content active" id="panel2-1">
			<div id="drop-zone">
				<h4 class="text-center">Drag N' Drop<br><small>or</small></h4>
				<p class="text-center">
					<%= form_tag media_libraries_path, :remote => true, :method => 'post', html: {:class => "custom", :multipart => true} do %>
						<%= hidden_field_tag :user_id, @course.user_id %>
						<%= file_field_tag :file_name, :class=>"button secondary radius small", :style=>"width:intrinsic;" %>
					<% end %>
				</p>
			</div>
			<h6>Select Media From Your Library</h6>
			<ul class="media-list">
				<% @resources.each do |resource| %>
					<% if @lesson_media_resources && @lesson_media_resources.include?(resource) %>
						<li class="selected" id="<%= resource.id %>"><%= resource.name %></li>
					<% else %>
						<li id="<%= resource.id %>"><%= resource.name %></li>
					<% end %>
				<% end %>
			</ul>	
  		</div>
		<div class="content" id="panel2-2">
			<%= form_tag media_libraries_path, :remote => true, :data => {:abide => ''}, :method => 'post', html: {:class => "custom"} do %>
				<%= hidden_field_tag :user_id, @course.user_id %>
				<%= text_field_tag :link, nil, :placeholder => 'enter the url', :required => '', :pattern=>'url' %>
				<small class="error">Please provide valid url</small>
			<% end %>
	  		<a href="javascript:void(0);" onclick="addLink();" target="new" class="button small radius secondary">Add Link</a>
	  		<h6>Links to Resources</h6>
	  		<ul class="media-list">
				<% @links.each do |resource| %>
					<% if @lesson_media_resources && @lesson_media_resources.include?(resource) %>
						<li class="selected" id="<%= resource.id %>"><%= resource.link %></li>
					<% else %>
						<li id="<%= resource.id %>"><%= resource.link %></li>
					<% end %>
				<% end %>
			</ul>
		</div>	
	</div>
  	<a href="javascript:void(0);" class="button radius small primary right" onclick="done();">Done</a>
  	<a class="close-reveal-modal">×</a>
</div>

<script type="text/javascript">
	function addLink() {
		$("div#panel2-2 > form").submit();
		enabledUpdateButton();
	}

	function done() {
		$('a.close-reveal-modal').trigger('click');
		var resourceCounter = $("input[name*='media_library_ids']").size()
		if(resourceCounter > 0) {
			$("div.alert > p").html('Added ' + resourceCounter + ' resources to this lesson.').parent().show();
			enabledUpdateButton();			
		}
	}
</script>