<% content_for(:custom_head) do %>
	<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" %>
<% end %>

<div class="large-2 medium-2 columns hide-for-small-only left-sub-nav" style="height: 493px;">
	<h4>Add A Lesson</h4>
	<p class="note">Click a lesson type below to add it to your syllabus.</p>
	<ul id="add-lesson-menu" class="side-nav">
		<li id="video-bu"><%= link_to 'Video', new_videolesson_path(:course_id => @course.id) %></li>
		<li id="slideshow-bu"><%= link_to 'Slide Show', new_slide_lesson_path(:course_id => @course.id) %></li>
	</ul>
</div>

<div class="large-8 medium-8 small-12 columns">
	<div class="conent-wrapper">
		<%= render '/alert' %>
		<%= render '/success' %>
		<h1>Course Syllabus</h1>
		<div class="hide-for-medium-up">
			<label class="top-border">Add A Lesson<label>
			<select>
				<option>select a lesson type</option>
				<option>Video</option>
				<option>Slide Show</option>
				<option>Quiz</option>
			</select>
		</label></label></div>
		<form>
			<div class="row">
				<div class="large-2 medium-2 columns">
					<label class="top-border">Lesson Order<label>
				</label></label></div>
				<div class="large-10 medium-10 columns" style="margin-top:10px;">
					<input id="checkbox1" type="checkbox"><label for="checkbox1">Make learners complete your course in the order you set below.</label>
				</div> 
			</div>
			<div class="table-wrapper">
				<ul class="inline-list table-header">
					<li>Lesson Name</li>
					<li class="type">Type</li>
					<li class="completed">Status</li>
					<li class="remove">Remove</li>
				</ul>
				<% @lessons.each do |lesson| %>
					<ul id="lesson-<%= lesson.id %>" class="table ui-sortable">
					  	<li class="<% if !lesson.published %>not-published<%else%>ui-state-default<%end%>">
						  	<ul class="inline-list">
						  		<% if lesson.lesson_type == Lesson::SLIDE_LESSON %>
						  			<li><%= link_to lesson.title, edit_slide_lesson_path(lesson) %></a></li>
						  		<% else %>
						  			<li><%= link_to lesson.title, edit_videolesson_path(lesson) %></a></li>
						  		<% end %> 
						  		<li class="type"><%= lesson.lessonType %></li>
						  		<li class="completed">
						  			<% if lesson.course.published && lesson.published %>
						  				Live
						  			<% elsif lesson.course.published && !lesson.published %>
						  				<%= link_to 'Publish', lesson_publish_path(lesson), :class => 'button tiny round simple', remote: true, :id => 'publish_lesson' %>
						  			<% else %>
						  				Draft
						  			<% end %>
						  		</li>
						  		<li class="remove">
						  			<%= link_to lesson_path(lesson), :method => :delete, :remote => true, :id => "lesson-remove-" + lesson.id.to_s do %>
						  				<span></span>
						  			<% end %>
						  		</li>
						  	</ul>
						</li>				  
					</ul>
				<% end %>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('.light-side-nav-wrapper').find("#lessons").addClass('active');
		$('.light-side-nav-wrapper').find("#lessons").addClass('has-sub-nav');
     	$('#global-nav').find("#courses").addClass('active');

     	<% if @new_course_success %>
     		$("div.success > p").html("Course has been created").parent().show();
     	<% end %>

		<% if @new_lesson_success %>
     		$("div.success > p").html("Lesson has been created").parent().show();
     	<% end %>

     	$("li.remove > a").click(function(event) {
     		var result = confirm('Are you sure you want to delete this lesson?');
			if(result) {
				return true;
			} else {
				event.preventDefault();
				return false
			}
     	});
	});
</script>