<section class="slide <%= 'hide' if !lesson_slide.object.active %>" id="<%= lesson_slide.index %>">
	<% if lesson_slide.object.id %>
		<%= lesson_slide.hidden_field :id, :value => lesson_slide.object.id %>
		<%= lesson_slide.hidden_field :active, :value => lesson_slide.object.active %>
		<%= lesson_slide.hidden_field :lesson_id, :value => lesson_slide.object.lesson.id %>
	<% else %>
		<%= lesson_slide.hidden_field :active, :value => true %>
	<% end %>
	<div class="row">
		<div class="large3 medium-3 columns">
			<label class="top-border">Slide<label>
			<%= lesson_slide.text_field :order, :value => lesson_slide.object.order, :required => '', :pattern => 'number' %>
			<small class="error">Please enter slide number</small>
		</label></label></div>
		<div class="large-9 medium-9 columns">
			<%= lesson_slide.text_field :title, :placeholder => 'enter slide title', :required => '', :class => 'headline' %>
			<small class="error">Please enter slide title</small>

			<%= lesson_slide.text_area :description, :placeholder => 'enter slide copy here', :required => '', :style => 'height: 100px;' %>
			<small class="error">Please provide description</small>
			
			<div class="clearfix" style="margin-bottom:20px;">
				<%= image_tag "slide-image-thumb.png", :class=>"left", :id => "slide_#{lesson_slide.object.order-1}_image", :style => 'height:135px; width:185px;' %>
				<div class="left image-ui-wrapper">
					<%= lesson_slide.file_field :image, :onchange=>"previewImage('lesson_lesson_slides_attributes_#{lesson_slide.object.order-1}_image', 'slide_#{lesson_slide.object.order}_image');" %>
				    <%= lesson_slide.select :css_position, "<option value='husker'>Position Image Left</option><option value='starbuck'>Position Image Right</option>".html_safe %>
				</div>
			</div>
		</div>
		<div class="large-offset-3 medium-offset-3 large-9 medium-9 columns">
			<a href="javascript:void(0);" class="right button small radius alert" onclick="removeSlide(<%=lesson_slide.index%>);">Delete Slide</a>
		</div>
	</div>
</section>