<div class="large-10 medium-10 small-12 columns">
	<div class="content-wrapper">
		<%= render '/alert' %>
		<ul class="breadcrumbs">
			<li><a href="course-detail-template.html">Courses</a></li>
			<li><a href="syllabus-template.html">Syllabus</a></li>
			<li class="current"><a href="syllabus-template.html">Add A Lesson</a></li>
		</ul>
		<section class="alert-container hide">
			<div data-alert="" class="alert-box radius success">
				Added 3 resources to this lesson.
				<a href="#" class="close">×</a>
			</div> 
		</section>
		<section class="clearfix">
			<div data-alert class="alert-box radius success" style="display:none">
				<span></span>
				<a href="#" class="close">&times;</a>
			</div>
			<h1 class="video-lesson-title left" style="width: intrinsic;">Slideshow Lesson</h1>
			<!--<a href="" class="button tiny radius right add" data-reveal-id="add-resources"><span>+</span> Add Resources</a>-->
		</section>
		<%= form_for @lesson, :url => slide_lesson_path(@lesson), :data => {:abide => ''} do |f| %>
			<%= f.hidden_field :course_id, :value => @course.id %>
			<%= f.hidden_field :lesson_type, :value => Lesson::SLIDE_LESSON %>
			<%= f.hidden_field :active, :value => true %>
			<%= f.hidden_field :published, :value => false %>
			<div class="row">
				<div class="large3 medium-3 columns">
					<label class="top-border">Lesson Title<label>
				</label></label></div>
				<div class="large-9 medium-9 columns">
					<%= f.text_field :title, :placeholder => 'enter lesson title...', :required => '' %>
					<small class="error">Please enter lesson title</small>
				</div> 
			</div>
			<div class="row">
				<div class="large3 medium-3 columns">
					<label class="top-border">Lesson Description<label>
				</label></label></div>
				<div class="large-9 medium-9 columns">
					<%= f.text_area :description, :placeholder => 'what will a student learn in this lesson...', :required => '' %>
					<small class="error">Please provide description</small>
				</div> 
			</div>
			<%= render 'add_slide', :f => f %>
			<%= render 'add_not_used_slides', :f => f %>
			<div class="row last">
				<div class="slide-up-64 large-offset-3 medium-offset-3 large-9 medium-9 columns">
					<a class="button small radius secondary" onclick="showNextSlide();">Add Another Slide</a>
				</div>
			</div>							
			<button class="button primary radius medium right">Save</button>
		<% end %>
	</div>
</div>

<%= render 'jquery' %>