<%= form_for @course, :remote => true, :method => 'patch', :data => {:abide => ''}, html: {:class => "custom", :multipart => true, :id => 'existing_course'} do |f| %>
			
	<%= render 'formContent', :f => f %>

	<% if @course.published %>
		<a data-reveal-id="update-modal" class="button primary radius medium right">Save</a>
	<% elsif %>
		<button class="button primary radius medium right">Save</button>
	<% end %>
<% end %>

<script type="text/javascript">
	$(document).ready(function() {
		$('#course_cover_image').attr('onchange', "previewImage('course_cover_image', 'cover_preview');");
		$('#course_hero_image').attr('onchange', "previewImage('course_hero_image', 'hero_preview');");
	})
</script>