<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= f.hidden_field :user_id, :value => @user.id %>
<div class="row">
	<div class="large-2 medium-2 columns">
		<label class="top-border">Course Title<label>
	</label></label></div>
	<div class="large-10 medium-10 columns">
		<%= f.text_field :title, :value=>@course.title, :placeholder=>"enter course title", :required => '' %>
		<small class="error">Please define title</small>
	</div> 
</div>
<div class="row">
	<div class="large-2 medium-2 columns">
		<label class="top-border">Course Content<label>
	</label></label></div>
	<div class="large-6 medium-6 columns">
        <%= collection_select(:course, :course_category_id, CourseCategory.all, :id, :name, {:prompt => 'Select category'}, {:required => true}) %>
        <small class="error">Please select course category</small>
	</div>
	<div class="large-4 medium-4 columns">
		<%= collection_select(:course, :course_level_id, CourseLevel.all, :id, :name, {:prompt => 'Select level'}, {:required => true}) %>
		<small class="error">Please select course level</small>
	</div>
</div>
<div class="row">
	<div class="large-2 medium-2 columns">
		<label class="top-border">Course Description<label>
	</label></label></div>
	<div class="large-10 medium-10 columns">
		<%= f.text_area :description, :value=>@course.description, :placeholder =>"enter course description", :required => '' %>
		<small class="error">Missing description or it is too long</small>
		<span id="charactersLeft" class="wrap">140</span>
	</div> 
</div>
<div class="row">
	<div class="large-2 medium-2 columns">
		<label class="top-border">Cover Image<label>
	</label></label></div>
	<div class="large-10 medium-10 columns">
		<div class="clearfix" style="margin-bottom:20px; ">
			<% if @course.cover_image? %>
				<%= image_tag @course.cover_image_url(:thumb).to_s, :class => 'left', :id => 'cover_preview', :style => 'height:135px; width:185px;' %>
			<% else %>
				<%= image_tag 'image-thumb.png', :class => 'left', :style => 'height:135px; width:185px;', :id => 'cover_preview' %>
			<% end %>
			<% if !@course.id %>
				<%= f.file_field :cover_image, :class=>"button secondary radius small left", :style=>"width:auto; background:transparent;", :onchange=>"previewImage('course_cover_image', 'cover_preview');" %>
			<% else %>
				<%= f.file_field :cover_image, :class=>"button secondary radius small left", :style=>"width:auto; background:transparent;" %>
			<% end %>	
		</div>
	</div> 
</div>
<div class="row last">
	<div class="large-2 medium-2 columns">
		<label class="top-border">Hero Image<label>
	</label></label></div>
	<div class="large-10 medium-10 columns">
		<div class="clearfix" style="margin-bottom:20px; ">
			<% if @course.hero_image? %>
				<%= image_tag @course.hero_image_url(:thumb).to_s, :class => 'left', :id => 'hero_preview', :style => 'height:135px; width:185px;' %>
			<% else %>
				<%= image_tag 'image-thumb.png', :class => 'left', :id => 'hero_preview', :style => 'height:135px; width:185px;' %>
			<% end %>
			<% if !@course.id %>
				<%= f.file_field :hero_image, :class=>"button secondary radius small left", :style=>"width:auto; background:transparent;", :onchange=>"previewImage('course_hero_image', 'hero_preview');" %>
			<% else %>
				<%= f.file_field :hero_image, :class=>"button secondary radius small left", :style=>"width:auto; background:transparent;" %>
			<% end %>
		</div>
	</div> 
</div>