<div id="no-bank-account" class="reveal-modal medium" data-reveal>
		<center>
			<svg version="1.1" id="bonobo_teacher" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 189 189" enable-background="new 0 0 189 189" xml:space="preserve">
				<circle fill="#88D2D3" cx="94.5" cy="94.5" r="94.5"/>
					<g>
						<path fill="#5A4E6D" d="M142.6,62.6c-7.9-14.6-22.2-25.2-39.2-28c-1.4-7.2-6.8-13-13.9-14.9c3.2,6.7,0,12.1-4.7,14.7
							c1.2-2.6,1.9-5.4,2.2-8.3c-2.3,4.2-5.9,7.7-10.4,10.1c-1.1,0.6-2.1,1.2-3,1.8C62,42.8,52.4,51.5,46.4,62.6
							c-14,0.2-25.3,11.6-25.3,25.6c0,13.8,10.9,25.1,24.6,25.6c0.4,3.8,1.6,7.5,3.6,10.8c-0.2-1.6-0.2-3.3-0.1-5c1.2,3.2,3,6.1,5.3,8.6
							c-0.4-1.2-0.7-2.4-1-3.7c5.1,5.8,11.5,10.6,18.7,13.8c4.7,8.9,14,14.7,24.5,14.7c1.6,0,3.2-0.1,4.8-0.4c9.9-1.8,17.7-8.6,21.1-17.4
							c4.8-2.9,9.1-6.5,12.8-10.7c-0.2,1.2-0.5,2.5-1,3.7c2.3-2.5,4.1-5.4,5.3-8.6c0.1,1.7,0.1,3.3-0.1,5c2-3.3,3.2-7,3.6-10.8
							c13.7-0.5,24.6-11.8,24.6-25.6C167.8,74.1,156.6,62.8,142.6,62.6z"/>
						<path fill="#FFFFFF" d="M133.7,98.4c0-13.2-9.8-25.4-23.4-25.4c-4,0-6.9,0.8-9.4,1.8c-2.1,0.8-4,1.6-6.5,1.6s-4.3-0.7-6.5-1.6
							c-2.5-1-5.3-1.8-9.4-1.8c-16.3,0-23.5,10.7-23.4,25.4c0.6-1.5,1.5-2.9,2.4-4.2c-0.4,2.4-0.4,4.8-0.1,7.1c0.4-1.4,1-2.8,1.7-4.2
							c1.4,7.8,7.6,14,15.4,15.4c-2.9,5-4.1,11.1-3,17.2c2.5,13.9,15.7,23.2,29.6,20.8s23.2-15.7,20.8-29.6c-0.6-3.5-1.9-6.7-3.7-9.5
							c5.9-2.4,10.3-7.8,11.5-14.2c0.7,1.3,1.3,2.8,1.7,4.2c0.4-2.4,0.3-4.8-0.1-7.1C132.3,95.5,133.1,96.9,133.7,98.4z"/>
						<g>
				<path fill="#5A4E6D" d="M111.6,131.6c-1.7,3-4.5,5.4-7.9,6.7c-3.4,1.3-7.1,1.5-10.5,0.6c-3.4-1-6.2-3-7.9-5.7
								c-0.3-0.4-0.2-1,0.2-1.4c0.4-0.4,1-0.6,1.5-0.4c4.4,1.6,9.2,1.5,13.7-0.3c4.5-1.8,8-5,10-9c0.2-0.5,0.8-0.8,1.4-0.8
								c0.6,0,1,0.4,1.2,0.9C113.8,125.3,113.3,128.6,111.6,131.6z"/>
				</g>
					<path fill="#5A4E6D" d="M106.4,101.4c1.3,0,2.5,0.4,3.5,1.2c1.1-0.8,1.9-2.6,1.9-4.6c0-2.8-1.5-5.1-3.4-5.1c-1.9,0-3.4,2.3-3.4,5.1
							c0,1.3,0.3,2.5,0.9,3.4C106,101.4,106.2,101.4,106.4,101.4z"/>
					<path fill="#5A4E6D" d="M79.1,102.6c1-0.7,2.2-1.2,3.5-1.2c0.2,0,0.4,0,0.6,0c0.5-0.9,0.9-2.1,0.9-3.4c0-2.8-1.5-5.1-3.4-5.1
							c-1.9,0-3.4,2.3-3.4,5.1C77.2,100,78,101.7,79.1,102.6z"/>
				<g>
					<path fill="#5A4E6D" d="M64.8,90c0,0,2.1-9.6,13.2-9.6c5,0,7.6,4.7,7.6,4.7s-3.3-2-8-2C68.3,83.2,64.8,90,64.8,90z"/>
				</g>
				<g>
					<path fill="#5A4E6D" d="M118.1,93.9c0,0-0.1-8.9-8.1-8.9c-3.6,0-5.5,3.9-5.5,3.9s1.7-1.5,5-1.5C116.2,87.5,118.1,93.9,118.1,93.9z
								"/>
				</g>
				<g>
					<g>
						<path fill="#5A4E6D" d="M96.8,113.3l2.9-0.5c1-0.2,1.7-1.1,1.6-2.1c-0.2-1-1.1-1.6-2.2-1.4C97.3,109.5,97,111.4,96.8,113.3z"/>
						<path fill="#5A4E6D" d="M89.4,110.9c-1,0.2-1.7,1.1-1.5,2.1c0.2,1,1.1,1.6,2.2,1.4l2.9-0.5C92.2,112.3,91.3,110.6,89.4,110.9z"/>
					</g>
				</g>
			</g>
			<path fill="#FFFFFF" d="M38.5,88c-0.5,2.7-0.5,5.5-0.1,8.2c0.4-1.5,1-2.9,1.7-4.3c0.2,3.7,0.8,7.4,1.8,10.9
						c-6.1-2.1-10.4-7.8-10.4-14.5c0-6.8,4.4-12.6,10.6-14.6c-0.3,1.1-0.6,2.2-0.8,3.2c-3.6,4.6-5.5,10.2-5.4,15.9
						C36.5,91.1,37.4,89.5,38.5,88z"/>
			<path fill="#FFFFFF" d="M147.2,102.7c0.9-3.5,1.6-7.1,1.8-10.9c0.7,1.4,1.2,2.8,1.7,4.3c0.4-2.7,0.4-5.5-0.1-8.2
						c1.1,1.5,2,3.1,2.8,4.8c0-5.7-1.9-11.4-5.4-15.9c-0.2-1.1-0.5-2.2-0.8-3.2c6.1,2,10.6,7.8,10.6,14.6
						C157.6,94.9,153.2,100.6,147.2,102.7z"/>
			<path fill="#EF6A5E" d="M131.6,87.1c-2.5,0-4.7-0.9-7.2-1.9c-1.2-0.5-2.4-1-3.8-1.4c-2.1-0.8-4.5-1.2-7.1-1.2
						c-6,0-10.7,2.1-13.5,5.6c-1.4-1.2-3.3-1.9-5.5-1.9S90.3,87,89,88.2c-2.8-3.5-7.6-5.6-13.5-5.6c-2.6,0-5,0.4-7.1,1.2
						c-1.4,0.4-2.6,1-3.8,1.4c-2.5,1-4.7,1.9-7.2,1.9c-1.3,0-2.3,1-2.3,2.3c0,1.3,1,2.3,2.3,2.3c1,0,1.8-0.1,2.7-0.2
						c-0.6,1.6-1,3.3-1,5.2c0,9,7.3,16.3,16.3,16.3c9,0,16.3-7.3,16.3-16.3c0-1.2-0.1-2.3-0.4-3.4c0,0,0,0,0,0c0-2,2-2.3,3.1-2.3
						s3.1,0.3,3.1,2.3c0,0,0,0,0,0c-0.3,1.1-0.4,2.2-0.4,3.4c0,9,7.3,16.3,16.3,16.3c9,0,16.3-7.3,16.3-16.3c0-1.9-0.3-3.6-1-5.2
						c0.9,0.2,1.8,0.2,2.7,0.2c1.3,0,2.3-1,2.3-2.3C133.9,88.1,132.9,87.1,131.6,87.1z M75.5,108.3c-6.5,0-11.7-5.3-11.7-11.7
						c0-4.6,2.7-7.3,6.1-8.5c1.3-0.4,2.7-0.7,4.2-0.9c0,0,0,0,0.1,0c0.4,0,0.8,0,1.3,0c5.7,0,11.7,2.5,11.7,9.4
						C87.2,103,81.9,108.3,75.5,108.3z M113.5,108.3c-6.5,0-11.7-5.3-11.7-11.7c0-7,6.1-9.4,11.7-9.4c0.4,0,0.9,0,1.3,0c0,0,0,0,0.1,0
						c1.5,0.1,2.9,0.4,4.2,0.9c3.5,1.3,6.1,3.9,6.1,8.5C125.3,103,120,108.3,113.5,108.3z"/>
			</svg>
		</center>
		<h2 class="text-center">Bonobo Alert</h2>
	  	<p class="text-center">Before publishing your class you must add a bank account.</p>
	  	<div class="row">
	  		<div class="large-4 large-centered columns">
	  			<p class="text-center"><%= link_to "Add Account", users_edit_path, :class => "button primary radius small" %></p>
	  		</div>
	  	</div>
	  	<a class="close-reveal-modal">&#215;</a>
	</div>