<div class="large-10 medium-10 small-12 columns">
	<div class="conent-wrapper">
		<dl class="tabs" data-tab>
			<dd class="active"><a href="#created">Teaching</a></dd>
			<dd><a href="#purchased">Learning</a></dd>
		</dl>
		<div class="tabs-content tabs-conent-wrapper">
			<div class="content active" id="created">
				<% @courses.each do |course| %>
					<%= link_to course_path(course) do %>
						<div class="course-module">
							<div class="cover-image-wrapper">
								<h6><%= CourseCategory.find(course.course_category_id).name %></h6>
								<%= image_tag course.cover_image_url.to_s, :style => 'height:169px; width:318px;' %>
							</div>
							<%= image_tag 'profile-pic.jpg', :class => 'hide-for-small profile', :style => 'height:66px; width:66px;' %>
							<h4 class="sans">
								<%= link_to course.title, course_path(course), :id => 'course_' + course.id.to_s %>
							</h4>
							<ul class="inline-list">
								<li class="sans stamp">Level: <%= CourseLevel.find(course.course_level_id).name.capitalize %></li>
								<% if course.published %>
									<li class="sans stamp class-published">Status: Published </li>
					    		<% else %>
					    			<li class="sans stamp">Status: Unpublished </li>
					    		<% end %>
							</ul>
						</div>
					<% end %>	
				<% end %>
				<%= link_to new_course_path do %>
					<div class="course-module add-course">
						<h4 class="text-center"><span>+</span><br>Create a Course</h4>
					</div>
				<% end %>
			</div>


			<div class="content" id="purchased">
				
				<a href="courses-profile-template.html">
					<div class="course-module">
						<div class="cover-image-wrapper">
							<h6>Art</h6>
							<img src="content/multi-floral-cover.png">
						</div>
						<img src="content/profile-pic.jpg" class="hide-for-small profile">
						<h4 class="sans"><a href="courses-profile-template.html">Pattern Making 101</a></h4>
						<p class="sans stamp">Level: Beginner</p>
					</div>
				</a>

			</div>

		</div>
	</div>
</div>