<% content_for(:custom_head) do %>
	<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" %>
<% end %>
<div class="large-10 medium-10 small-12 columns">
	<div class="content-wrapper">
		<h1 class="course-detail-title">Course Details</h1>
		<div data-alert class="alert-box radius success" style="display:none">
			<p></p>
			<a href="#" class="close">&times;</a>
		</div>
		<%= form_for @course, :url => courses_path, :method => 'post', :data => {:abide => ''}, html: {:class => "custom", :multipart => true} do |f| %>
			
			<%= render 'formContent', :f => f %>
		
			<button class="button primary radius medium right">Next</button>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('div#light-menu-wrapper').remove();
	});
</script>

<%= render 'jquery' %>