$("a.publish").addClass('disabled');
$("a.publish").text('Publish');
$("div.success > p").html('Course has been published');
$("div.success").removeAttr('style');
$("a.tiny").replaceWith('Live');
$("p.course-status").html('Published');
$("div#status:first").prepend("<span class='unpublish right'><a data-reveal-id='unpublish-modal' class='unpublish button small secondary radius'>Unpublish</a></span>");
$("span.unpublish > a").click(function() {
	$('#update-modal').foundation('reveal', 'open');
});
$("p#time-stamp").html("<%= @updated_at.to_s %>");
$("li.completed").html('Live');