<div class="large-10 medium-10 small-12 columns">
	<div class="conent-wrapper">
		<%= render '/alert' %>
		<%= render '/courses/course_published_success' %>
		<h1 class="course-detail-title">Settings</h1>
		<%= form_tag(course_unpublish_path(@course), :id => 'settings-form') do %>
			<div class="row last">
				<div class="large-2 medium-2 columns">
					<label class="top-border">Class Status<label>
				</label></label></div>
				<div id="status" class="large-10 medium-10 columns">
					<% if @course.published %>
						<span class="unpublish right">
							<a data-reveal-id="unpublish-modal" class="unpublish button small secondary radius" id="unpublish">Unpublish</a>
						</span>
						<p class="gray course-status">Published</p>
					<% elsif %>
						<p class="gray course-status">Unpublished</p>
					<% end %>					
					<p id="time-stamp" class="sans gray"><%= @course.updated_at.strftime("%a %b %d %Y") %></p>
				</div> 
			</div>
			<!--<button class="button primary radius medium right hide">Save</button>-->
		<% end %>
	</div>
</div>

<%= render 'unpublish' %>