<% content_for(:custom_head) do %>
	<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" %>
<% end %>

<div class="large-10 medium-10 small-12 columns">
	<div class="conent-wrapper">
		<%= render '/alert' %>
		<h1 class="course-detail-title">Course Details</h1>
		<div data-alert class="alert-box radius success" style="display:none">
			<p></p>
			<a href="#" class="close">&times;</a>
		</div>
		<%= render 'create' %>
	</div>
</div>

<%= render '/courses/alert_update_changes' %>

<%= render 'jquery' %>