/* custom css by kelly sandoval */

@import url('webfonts.css');

/* Foundation.css overrides  */
/*.row { max-width: 72.5em; }*/
.row { max-width: 1280px; }
#lms .row { margin-left: 0; max-width: 1280px; }
.panel { background-color: #fff; border-color: #eaeaea!important; }
table { width: 100% ;}
.alert-box.success { background-color: #9acd2b; border-width: 0; color: white; }
.orbit-container { background: #fff!important; }
.home .orbit-bullets li { background: rgba(255,255,255,.3); }
.home .orbit-bullets li.active { background: rgba(255,255,255,.7); }
.alert-box p { color: #fff; font-family:  "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }


/* fonts */
h1, h2, h3, h5, h6 { font-family:  "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif!important; } 
h1 { font-weight: normal; color: #494949; font-weight: 300; }
h2 { font-family: helvetica, arial, sans-serif; }
h3 { font-weight: bold; }
h4 { font-family: 'SanchezRegular', georgia, serif!important; }
h5 { font-weight: bold!important; }
h6 {}
p { font-family: 'SanchezRegular', georgia, serif!important; }
.sans { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif!important; } 
a, a:hover { color: #78c8ce; }
a:hover { text-decoration: underline; }

/* colors */
.green { color: #9acd2b!important; }
.blue { color: #78c8ce; }
.gray { color: #898989;}
.gray-lt { color: #aaa; }
.white { color: #fff!important; }
.orange { color: #ffa914; }




/* buttons */
a.button:hover { text-decoration: none; }
.button { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important; font-weight: normal; transition: all .2s ease; }
.primary { background-color: #9acd2b; border: none; border-bottom: 4px solid #8eba37;  box-shadow: 1px 1px 1px rgba(0,0,0,.2); }
.primary:hover { background-color: #91be38; border: none; box-shadow: 1px 1px 1px rgba(0,0,0,.2); }
.link-secondary { margin-top: 18px; }
input[type="submit"] { width: 100%; color: #fff; padding: 14px 24px; border-radius: 2px; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important; font-weight: normal; transition: all .2s ease; }
.button.simple { background-color: #fff; border: 1px solid #ccc; width: 100%; color: #666; margin-bottom: 8px; transition: all .3s ease; }
.button.simple:hover { background-color: #9acd2b; color: #fff; }
.button.tiny { font-size: 0.75rem; }

label { text-transform: none; }
.breadcrumbs { background-color: transparent; border: none; padding: 0;  }
.breadcrumbs li a { text-transform: none; color: #78c8ce; }
.settings .f-dropdown a { color: #78c8ce!important; }
.tabs dl { border: 1px solid #eaeaea; }
.tabs dd { border: 1px solid #eaeaea; margin-right: 4px; }
.tabs dd.active { border-bottom: 1px solid #fff; }
.tabs dd.active a { color: #000; background: #fff; }
.tabs dd a { color: #aaa; background: #fff; }
.tabs-content .content { float: none; padding-bottom: 0;}
.tabs-content { margin-bottom: 0; }
form .button.secondary { margin-right: 10px; }

/* from marketing */

/* buttons */
.button { transition: all 0.5s ease; }
.button.white { background: #fff; border-bottom: 4px solid #73932d; color: #78ced4!important; }
.button.white:hover { background: #dbedb3; border-bottom: none; box-shadow: 1px 1px 1px #73932d; }
.button.outline-white { border: #fff solid 1px; background-color: transparent!important; margin-right: 10px; }
.button.orange { color: #fff; background-color: #ffa914!important; border-bottom: 3px #997a02 solid; }
.button.orange:hover { margin-bottom: 3px; border-bottom: none; }
.button.purple {  background-color: #82719f!important; border-bottom: 3px #6c5e84 solid;  }
.batbelt .button.purple { margin-top: 0; font-size: 15px; padding: 4px 12px;  }
.button.outline-green { border: #9acd2b solid 1px; background-color: transparent!important; margin-right: 10px; color: #9acd2b; }
.button.outline-gray  { border: #ccc solid 1px; background-color: transparent!important; margin-right: 10px; color: #aaa; }
.button.outline-gray:hover { background-color: #ff0000; }
.batbelt a:hover { opacity: .8; }
/* homepage */

h4.tagline { color: #fff; opacity: .7; letter-spacing: .3em; margin-top: 20px; display: none; }
#marketing.home p { color: #666; }
p.large { font-size: 1.3em; }
.home .rethink p.large { color: #2d2638!important; }
.home .rethink p { color: #2d2638!important; } 
p.vision { font-family: helvetica-light, arial, sans-serif!important; color: #fff!important; padding-top: 20px; font-size: 20px;  }
.vission-slider p { opacity: .8; font-weight: normal!important; }
#marketing { background: #fff image-url('dot-bckgnd.png') 0 0 repeat; }
#marketing.home header#top { background-color: #a5d340; height: auto!important; }
header#top a { color: #fff; font-family: 'ProximaNova-Regular', helvetica, arial, sans-serif; font-weight: normal; }
#marketing header#top a:hover { text-decoration: none; }
header#top a.menu { background: transparent image-url('sprite.png') 0 30px no-repeat; padding: 34px; }
#marketing header#top a span.has-tip { color: #fff; text-decoration: none; cursor: pointer; }
#marketing .top-border { color: #999; margin-top: 10px; }
#logo-pages { height: 24px; width: 171px; float: left; margin-right: 20px;  }
.logo-tag { margin: 40px auto; }
#logo { display: none; }
.beta-button-wrapper { margin: 30px auto; }
#marketing.home #beta-badge { display: none; width: 103px; height: 103px; border-radius: 999px; background-color: #f46859; padding-top: 1em; float: right; margin-right: 40px; }
#marketing.home  #beta-badge p { text-align: center; color: #fff; }
#marketing.home  #beta-badge p span.top { font-size: 18px; }
#marketing.home  #beta-badge p span.bottom { font-size: 36px; line-height: .8em; }
#marketing.home .orbit-container .orbit-slides-container img { display: inline-block; }
#marketing.pages { padding-bottom: 30px; }
.home #learn_more { width:  100%; height: 385px; }
.home .first-section { margin-top: 40px; }
#mascot-1 { width: 100%; height: 143px; }
#logo-home  { width: 100%; height: 100px; }
.batbelt li { padding-right: 25px; }
.batbelt li a { margin-top: 3px; }
#bonobo_student { width: 100%; height: 147px; }
#bonobo_enterprise, #bonobo_teacher { width: 100%; height: 140px; }
.stories { background-color: #f5f5f5; border: 1px solid #e5e5e5; border-width: 1px 0; padding: 40px 0; }
.stories h3  { text-align: center; }
.stories h5 { font-size: 15px; color: #b4b4b4; text-align: center; margin-bottom: 40px; font-weight: 300!important; }
.product { height: 400px; margin-top: 40px; background: #99a2b3 image-url('meet-kim.jpg') no-repeat!important; }
.product p.large, 
.product p.sans { color: #fff!important; }
.product p.large { padding-top: 70px; }
.product p.sans { font-size: .8em; opacity: .7; margin: -20px 0 40px 0; }
.search { background-color: #dbedb3; padding-top: 15px; }
.search input[type="text"] { padding-top: 23px; padding-bottom: 23px; border: solid 1px #a5d340; border-width: 0 0 1px 0; color: #a5d340; background-color: transparent!important; box-shadow: none; }
.search ::-webkit-input-placeholder,
.search :-moz-placeholder,
.search :-moz-placeholder,
.search ::-moz-placeholder,
.search :-ms-input-placeholder { color: #a5d340!important; } 

/* backgrounds */
#sign-up,
#lms,
#class, 
#course { background: #f9f9f9 image-url('dot-bckgnd.png') 0 0 repeat; }
#sign-in { background: #fff image-url('dot-bckgnd.png') 0 0 repeat;}

/* orbit */
.orbit-container { padding: 0!important; }

/* header */
#top { height: 60px; padding: 17px 0 0 0; background-color: #9acd2b; width: 100%; }
#top .inline-list { margin: 0; }
#top .inline-list li { margin: 0; }
nav.tab-bar { height: 60px; padding: 17px 0 0 0; background: #9acd2b; }
section.left-small { border-width: 0; box-shadow: 0 0 0; margin-top: 5px; }
.browse-cources { width: 100%; background-color: rgba(255,255,255,.9); position: absolute; z-index: 100; top: 0; box-shadow: 0 1px 1px rgba(0,0,0,.25); }
.browse-cources a:hover { opacity: .7; }
.menu-clicked { background-color: rgba(255,255,255,.95); }
.side-nav a { color: #9acd2b!important; }
.nav-clicked { opacity: .6; }
.browse-cources .menu { color: #9acd2b!important; background: transparent image-url('menu-icon-green.png') 0 32px no-repeat!important; }
.browse-cources .sans { padding-top: 18px; }

/* global nav */
#global-nav { }
#global-nav li { padding: 4px 20px; }
#global-nav li.active { background-color: rgba(0,0,0,.2); border-radius: 4px; }
#global-nav li a { color: #fff; }
.settings { float: right!important; padding-left: 10px; padding-right: 20px; }
.settings .dd { margin-top: 0; font-size: .8em; color: #fff!important; }
img.profile-sm { margin-top: -2px; width: 34px; display: inline-block; margin-right: 10px; border-radius: 99px; }
.settings .dd span {}
.settings .f-dropdown { display: block; clear: both; }
.settings .f-dropdown li { display: block; clear: both; }
.tab-bar { margin-top: 0; padding-top: 0; }
.tab-bar .left-small { padding-top: 4px; }
a.menu-icon:hover { color: #fff!important; } 
.tab-bar .middle { padding-top: 10px; margin-top: 0; }
.tab-bar .middle .logo { padding-top: 0; margin-top: -9px; }
.tab-bar .settings { border-left: 0; margin-top: 3px; }
.tab-bar .settings a { float: right; }
.course-title { font-size: 1.375rem; color: #fff!important; }
.course-title:hover { text-decoration: none; opacity: .7; color: #fff!important; }

/* sign -up and sign in */
.sign-up h1 { text-align: center; margin-top: 40px; margin-bottom: 15px; font-size: 1em; text-transform: uppercase; }
.bar-background { background-color: #e1e1e1; height: 7px; border-radius: 99px; }
#sign-up-progess .row .progress-wrapper { border: 1px solid #ccc; border-radius: 99px;  height: 20px; margin: 0 20px 10px 20px; padding: 0; background-color: #f5f5f5; }
#sign-up-progess .row .progress-wrapper .columns { padding-left: 0; padding-right: 0; margin-right: -2px; }
#sign-up-progess .row .progress-wrapper p { /*font-family: 'ProximaNova-Regular', helvetica, arial, sans-serif;*/ color: #fff; background-color: #9acd2b; width: 100%; border-radius: 99px; border-top-right-radius: 0; border-bottom-right-radius: 0; border-right: 1px solid #fff; font-size: .8em;  line-height: 1em; padding: 3px 0; margin: 0; letter-spacing: .1em; text-shadow: 1px 1px 1px rgba(0,0,0,.2); }
.progress-wrapper p span { background-color: #9acd2b; border: 2px solid #fff; border-radius: 99px; padding: 7px 11px; margin-left: -2px; margin-right: 5px; letter-spacing: 0em; }
.progress-wrapper p.last { background-color: transparent!important; }
.progress-wrapper p.last span { margin-right: .5em; margin-left: -11px; }
.sign-up .content-wrapper { margin: 64px 0 40px 0; }
.sign-up .content-wrapper .form-wrapper { background-color: #fff; border: 1px solid #ccc; }
.sign-up .top-border { margin-top: 0!important; }
.account-type img { margin-top: -34px; }
.sign-up .content-wrapper p { /*font-family: 'ProximaNova-Regular', helvetica, arial, sans-serif;*/ color: #999; }
.sign-up img.step-1 { margin: 0; background: #f0f0f0 image-url('sign-up-sprite.png') 20px 20px no-repeat; padding: 0; height: 103px; width: 103px; border-radius: 199px; }
.sign-up img.step-2 { margin: 0; background: #f0f0f0 image-url('sign-up-sprite.png') 20px -65px no-repeat; padding: 0; height: 103px; width: 103px; border-radius: 199px; }
.sign-up img.step-3 { margin: 0; background: #f0f0f0 image-url('sign-up-sprite.png') 19px -160px no-repeat; padding: 0; height: 103px; width: 103px; border-radius: 199px; }
.sign-up img.step-4 { margin: 0; background: #f0f0f0 image-url('sign-up-sprite.png') 20px -262px no-repeat; padding: 0; height: 103px; width: 103px; border-radius: 199px; }
.sign-up.teacher img.step-1,
.sign-up.teacher img.step-2,
.sign-up.teacher img.step-2-2,
.sign-up.teacher img.step-3,
.sign-up.teacher img.step-4,
.sign-up.teacher img.error { margin: 0; background: #f0f0f0 image-url('sign-up-sprite.png') 18px -420px no-repeat; padding: 0; height: 103px; width: 103px; border-radius: 199px; }
.sign-up.teacher img.step-1 { background-position: 18px -420px; }
.sign-up.teacher img.step-2 { background-position: 20px -159px; }
.sign-up.teacher img.step-2-2 { background-position: 20px -627px; }
.sign-up.teacher img.step-3 { background-position: 12px -523px  }
.sign-up.teacher img.step-4 { background-position: 20px -262px; }
.sign-up.teacher img.error { background-position: 20px -740px; }
.sign-up img.remove { margin: 30px 0 0 0; background: transparent image-url('sign-up-sprite.png') 0 -375px no-repeat; padding: 0; height: 41px; width: 41px; float: right; }
.sign-up .content-wrapper .price { border: 1px solid #ccc; border-width: 0 0 0 1px; padding-bottom: 20px; }
.sign-up .content-wrapper h3 { margin: 30px 0 0; }
.sign-up .content-wrapper h3.big { font-size: 48px;  }
.sign-up .content-wrapper h3.big small { font-weight: normal; font-size: 18px; }
.sign-up  #total { border: 3px solid #78c8ce; border-width: 0 0 3px 0; }
.sign-up  #total h6 { text-align: right; }
.sign-up  .button-container { margin: 20px 0 0 0; }
.sign-up .last-row { margin-bottom: 20px; }
.sign-up .reciept { background: #d6eef0 image-url('scallop.png') 0 bottom repeat-x; padding: 20px; }
.sign-up .reciept h3.big { border: 1px solid #b0dfe2; border-width: 0 0 1px 0; margin-top: 0; margin-bottom: 15px; padding-bottom: 10px; }
.sign-up .reciept p { font-size: .8em; }
.class-sm { width: 100%; max-height: 103px; margin-top: 30px; }
.sucess-image { margin: -50px 0 14px -60px; }

/* homepage */
#marketing.cat header#top { position: fixed; top: 0;  z-index: 97!important; }
#marketing.home #content-wrapper { margin-top: 591px; background: #fff image-url('dot-bckgnd.png') 0 0 repeat; position: absolute; z-index: 97; width: 100%; left: 0;  }
#marketing.pages header#top { position: static; z-index: 0; }
#marketing.home header#top { position: fixed; top: 0; z-index: 0!important; }
.stories h5 { text-transform: uppercase; font-size: 12; letter-spacing: .075em; }

/* my courses */
.course-module .inline-list { margin-top: -20px; clear: both; }
.course-module .inline-list li.class-published { color: #9acd2b!important; }
.course-module .inline-list li:first-child { padding-left: 10px; float: left; }
.course-module .inline-list li:last-child { padding-right: 20px; float: right;  }

/* class profile */
.hero-wrapper { margin-top: 30px; margin-bottom: 10px; padding: 0; background: #fff; border: 1px solid #e0e0e0;}
.hero-text { z-index: 10; height: 279px; margin-top: -259px; }
.hero-text h1 { float: left; color: #fff; background: #000; opacity: .75; width: intrinsic; padding: 3px 14px; }
.hero-text h6 { float: right; width: intrinsic; background: #000; opacity: .7; padding: 5px 10px; border-radius: 99px; color: #fff; margin: 8px; }
.hero { height: 279px; }
.hero img {  margin: 0; width: 100%; }
.course-profile {  }
.course-profile .attribution { margin: 0; padding: 5px 10px; color: #666; display: inline-block; width: 100%; }
.course-profile .attribution img { margin-top: -45px; border-radius: 99px; margin-right: 10px; }
.course-profile ul { list-style: none; }
.course-profile ul li { display: inline-block; margin-right: 20px; }
.course-profile p { margin-top: 30px; }
.stamp  { font-size: .8em; color: #aaa; }
.course-profile p span { color: #666; }
.tabs-conent-wrapper { padding: 30px; border: 1px solid #EAEAEA; border-radius: 4px; background: #fff; border-top-left-radius: 0;  }
.badge { border: 1px solid #ccc; border-radius: 99px; padding: 4px 10px; font-family: helvetica, arial, sans-serif!important; font-size: .8em; color: #898989; }
dl.lesson-list { border: 1px solid #e0e0e0; border-width: 0 0 0 1px; line-height: 1.4em;  }
dl.lesson-list dt span { display: inline-block; padding: 9px; background: #fff; border: 1px solid #e0e0e0; border-radius: 99px; margin-left: -10px; margin-right: 14px; margin-bottom: -3px; } 
dl.lesson-list .complete { color: #aaa; }
dl.lesson-list dt.complete span { background: #9acd2b; border-color: #9acd2b; }
dl.lesson-list dt.active span { background: #f0f0f0; border-color: #b4b4b4; }
dl.lesson-list dd { padding: 0 26px; color: #aaa; }
dl.lesson-list dd:last-child { background-color: #fff; margin-top: -9px; margin-left: -1px; padding-top: 5px; padding-left: 27px;  }
dl.lesson-list dt:after { padding-left: 10px; font-weight: normal; color: #b4b4b4; text-transform: uppercase; font-size: 9px; }
dl.lesson-list dt.video:after { content: "video"; }
dl.lesson-list dt.slide-show:after { content: "slide show"; }
dl.lesson-list dt.quiz:after { content: "quiz"; }
.below-tabbed-content { margin-top: 20px!important; }
#tracks .add { margin-top:  0; }
aside { margin-top: 30px; }
.purchase .button { width: 100%; }
.panel h5 { border: 1px solid #ccc; border-width: 0 0 1px 0; margin-left: -10px; margin-right: -10px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px; margin-bottom: 10px; font-weight: bold; }
.contents { list-style: none; margin-left:  0; }
.contents li { line-height: 2.5em; color: #666; font-size: .875em; background: transparent image-url('icon-sprite.png') -10px -601px no-repeat; padding-left: 18px;}
.contents li .flag { padding: 0 10px; margin-top: 0;  }
.contents li.incomplete { background-position: -10px -631px; }
.track-header { background: #9acd2b; margin-right: 10px!important; margin-left: 10px!important; }
.track-header p,
.track-header p.large { color: #fff!important; padding: 10px; margin-bottom: 0; }

.course-module { width: 30.83%; float: left; margin: 1.25%; border: none!important; height: 320px; overflow: hidden; background: #fafafa; }
.course-module:hover { box-shadow: 1px 1px 3px rgba(0,0,0,.2); }
.course-module h4 { padding: 5px 10px 20px 10px; }
.course-module p,
.track-module p { margin: -30px 0 0 0; padding: 0 10px; color: #aaa!important; width: 100%; }
.course-module .cover-image-wrapper { max-height: 220px; overflow: hidden; width: 100%; }
.course-module h6,
.track-module  h6 { float: right; width: intrinsic; background: #000; opacity: .7; padding: 5px 10px; border-radius: 99px; color: #fff; margin: 8px; }
.course-module .cover-image-wrapper img { z-index: -1; margin-top: -49px; }
.course-module img.profile { margin-top: -36px; display: inline-block; border-radius: 99px; margin-left: 10px; z-index: 10;  }
.track-module { width: 30.83%; float: left; margin: 1.25%; border: none!important; height: 320px; overflow: hidden; background: #fafafa; }
.track-module:hover { box-shadow: 1px 1px 3px rgba(0,0,0,.2); }
.track-module .track-header { margin: 0!important; }
.track-module .track-header p { font-size: 3em; color: #fff!important; padding: 10px; margin: 0; }
.track-module p { margin: 0; }
.track-module .contents { margin-left: 20px; }

/* sections */
.section-content-wrapper  iframe { padding-top: 13px; }
.logo { position: relative; width: 186px; left: -186px; margin-left: 50%; padding-top: 0; opacity: .3; }
.section-content-wrapper { border: 1px solid #e0e0e0; background: #fff; box-shadow: 1px 1px 3px rgba(0,0,0,.15); overflow: hidden; }
.section-content-wrapper div { padding: 15px; }
.example-orbit-content li { padding-bottom: 0!important; }
.section-button-wrapper { width: 100%; float: right; padding: 15px; border: 1px solid #e0e0e0; border-width: 1px 0 0 0; padding-bottom: 0!important; }
.success { background-color: #a5cd4e; }
.fail { background-color: #ef5b5b; }
.section-button-wrapper .continue-defaut { background: #fff; border: 1px solid #e0e0e0; color: #333; border-bottom-width: 3px; transition: all .3s ease; margin-left: 15px;  }
.section-button-wrapper .continue-defaut:hover { color: #666; border-bottom-width: 1px; }
.section-button-wrapper .check-defaut { background: #fff; border: 1px solid #e0e0e0; color: #333; border-bottom-width: 3px; transition: all .3s ease; }
.section-button-wrapper .check-defaut:hover { color: #666; border-bottom-width: 1px; }
.section-button-wrapper .check-check { background: #a5cd4e; border: 1px solid #e0e0e0; color: #fff; border-bottom-width: 3px; transition: all .3s ease; }
.section-button-wrapper .check-check:hover { background: #a5cd4e; color: #fff; border-bottom-width: 1px; }
.next, .button.publish, .button.add { background-color: #78ced4; font-family: helvetica, arial, sans-serif;  transition: background-color .3s ease; }
.next { } /*width: 100%;*/
.button.disabled { opacity: .3; cursor: not-allowed; }
.button.disabled:hover { background-color: #fff!important; cursor: not-allowed; } 
.button.publish.disabled:after { content: "ed"; }
.button.add:hover { background-color: #70bac0; } 
.button.add { margin-top:  20px; font-size: .8em; padding-top: .975em; }
.button.add span { border: 1px solid #fff; padding: 4px 8px; border-radius:  99px; margin-right: 10px; font-size: 1.1em;  }
#light-menu-wrapper { margin: -3px 0 0 0; padding: 20px 0 0 0; background-color: #fff; border: 1px solid #e0e0e0; border-width: 0 1px 0 0;  }
#light-menu-wrapper #info-wrapper h1 { color: #9acd2b; font-size: 16px; }
#light-menu-wrapper #info-wrapper h1 span { color: #b4b4b4; font-size: 11px; text-transform: uppercase; }
#light-menu-wrapper #info-wrapper .button { background-color: #fff; border: 1px solid #ccc; width: 100%; color: #666; margin-bottom: 8px; transition: background-color .3s ease; }
#light-menu-wrapper #info-wrapper .button:hover { background-color: #9acd2b; color: #fff; }
.light-side-nav-wrapper ul.side-nav li { margin: 0; line-height: 1em;  padding: 16px 20px; border: 1px solid #ccc; border-width: 1px 0 0 0; border-bottom-color: #ccc; border-top-color: #ccc; }
.light-side-nav-wrapper ul.side-nav li:last-child { border-width: 1px 0; }
.light-side-nav-wrapper ul.side-nav li:hover { background-color: #f0f0f0; transition: background-color .3s ease; }
.light-side-nav-wrapper ul.side-nav li.active { background-color: #fff; border-left-width: 4px; border-left-color: #9acd2b; }
.light-side-nav-wrapper ul.side-nav li a { color: #78c8ce; }
.light-side-nav-wrapper ul.side-nav li.active a { color: #333!important; }
.light-side-nav-wrapper ul.side-nav li a:hover { text-decoration: none; }
ul.side-nav li.active.has-sub-nav { border-right-color: #fff; border-right-width: 1px; margin-right: -1px; }
.flag { background-color: #ccc; color: #fff; border-radius: 99px; padding: 3px 10px; float: right; margin-top: -16px; font-size: .75em; }
#info-wrapper { margin: 18px; }
#info-wrapper h1 { color: #fff; font-size: 18px; }
#menu-wrapper { margin: 0; padding: 20px 0 0 0; background-color: #222; }
#info-wrapper .button { background-color: #222; border: 1px solid #666; width: 100%; }
.side-nav-wrapper ul.side-nav li { margin: 0; line-height: 1em;  padding: 16px 20px; border: 1px solid #202020; border-width: 1px 0; border-bottom-color: #000; border-top-color: #333; }
.side-nav-wrapper ul.side-nav li:hover { background-color: #494949; transition: background-color .3s ease; }
.side-nav-wrapper ul.side-nav li.active { background-color: #fff; border-top-width: 0; border-left-width: 4px; border-left-color: #9acd2b; border-bottom-width: 0; }
.side-nav-wrapper ul.side-nav li a { color: #ccc; }
.side-nav-wrapper ul.side-nav li.active a { color: #333; }
.side-nav-wrapper ul.side-nav li a:hover { text-decoration: none; }
#lms .left-sub-nav { margin-top: -3px; padding-top: 51px; background-color: #fff; /*box-shadow: 2px 0 3px rgba(0,0,0,.3);*/ border-right: 1px solid #e0e0e0; }
#lms .left-sub-nav ul.side-nav li { border: #ccc solid 1px; padding: 0; }
#lms .left-sub-nav ul.side-nav li:hover { background-color: #78c8ce; }
#lms .left-sub-nav ul.side-nav li a { color: #78c8ce!important; }
#lms .left-sub-nav ul.side-nav li:hover a { text-decoration: none; color: #fff!important; }
#lms .left-sub-nav ul.side-nav a { background: transparent image-url('lesson-type-bu-sprite.png') no-repeat; padding: 45px 0 45px 85px; }
#lms .left-sub-nav ul.side-nav #video-bu a { background-position: -76px 39px; }
#lms .left-sub-nav ul.side-nav li#video-bu:hover a { background-position: 32px 39px; }
#lms .left-sub-nav ul.side-nav #slideshow-bu a { background-position: -76px -173px; }
#lms .left-sub-nav ul.side-nav #slideshow-bu:hover a { background-position: 32px -173px; }
#lms .left-sub-nav ul.side-nav #quiz-bu a { background-position: -76px -281px; }
#lms .left-sub-nav ul.side-nav #quiz-bu:hover a { background-position: 32px -281px; }
#add-lesson-menu { margin-top: 83px; }
.conent-wrapper,
#lms .content-wrapper { padding-top: 20px; }
.conent-wrapper h1,
#lms .content-wrapper h1 { margin-top: 10px; }
.table-wrapper { border: 1px solid #ccc; background-color: #fff; margin: 20px 0; border-radius: 4px; overflow: hidden; }
.table-header { background-color: #efefef; color: #fff; border: #ccc 1px solid; border-width: 0 0 1px 0; margin-left: 0!important; }
.table-header li:first-child { width: 55%; }
.table-header li { font-size: .75em; padding-top: 7px; padding-bottom: 7px; text-transform: uppercase; color: #666; }
.table { list-style: none; margin-left: 1.3rem!important; margin-bottom: -11px; }
.table ul { border: #ccc 1px solid; border-width: 0 0 1px 0; }
.table ul, .table ul li { margin-top: 10px; margin-bottom: 10px; }
.table ul li:first-child { width: 55%; }
.type { width: 11%; }
.completed { width: 11%; }
.remove { width: 11%; }
.remove span { background: transparent image-url('icon-sprite.png') 0 -532px no-repeat; height: 30px; width: 30px; padding: 15px;  }
.ui-state-default { cursor: move; }
p.note { font-size: .8em; color: #898989;  }
.top-border { border-top:  1px solid #ccc; padding-top: 10px; }
input.slide-number { width:28px; margin-top:-25px; float: right; }
input.url-prefix { border: none; color: #898989; box-shadow: 0 0 0; }
input.url-prefix[disabled] { background-color: #fff; }
.row.last { border: 1px #ccc solid; border-width: 0 0 1px 0; padding-bottom: 10px; margin-bottom: 20px!important; }
.add-course { padding-top: 40px; }
.add-course h4 span { font-size: 2.125rem; padding: 10px 20px; border: 1px solid #eee; border-radius: 99px; line-height: 3em; }
.add-course h4:hover { color: #78c8ce;}
.image-ui-wrapper { width:220px; margin-left: 20px; }
.image-ui-wrapper select { width: 180px; }
.content-wrapper.chart-wrapper { border-bottom: 3px solid #ccc; }
#time-stamp { font-size: .75em; margin-top: -24px; }
.class-settings .conent-wrapper p { border: 1px solid #ccc; border-width: 1px 0 0 0; padding-top: 1em; }
.reveal-modal p { color: #666; }
.bio-wrapper { background: #fff; border-bottom: 1px solid #e0e0e0; padding: 40px 0; margin-bottom: 30px; }
.bio-wrapper .inline-list { margin-top:  42px; }
.blockquote-wrapper { margin-top:  62px; }
.cat-top { background: #dbedb3; border-bottom: 1px solid #e0e0e0; padding: 40px 0; margin-bottom: 30px; }
.cat .svg-wrapper { margin-top: 60px; }


/* course screens */
.vimeo { margin: 0; } /*margin: -9px 0 4px 0; border-radius: 4px;*/
#course h1 { font-size: 1.375rem; }
#course h6 { } 
#course .panel h6 { border: 1px solid #ccc; padding-bottom: 10px; border-width: 0 0 1px 0; }
.lesson-count { font-size: .8rem; color: #898989; text-transform: uppercase; margin-bottom: 4px; } /*margin-top: 20px;*/
.info p { font-size: .8rem; color: #b4b4b4; }
.wrap { float: right; font-size: .8em; margin-top: -10px; }
#drop-zone { width:100%; height: 180px; border: dashed 2px #ccc; margin-bottom: 20px; }
#drop-zone h4 { margin-top: 30px; color: #aaa; }
.media-list { list-style: none; max-height: 180px; overflow: scroll;  margin-left: 0!important;  }
.media-list li { border: 1px solid #ccc; border-width: 0 0 1px 0; text-indent: none;  line-height: 2.5em; color: #898989; }
.media-list li.selected { background-color: #78c8ce; color: #fff; padding: 0 6px; border-color: #fff; }
.media-list li.selected::before { margin-right: 10px; content: "Added"; padding: 4px; font-size: .74em;  border: 1px #fff solid; border-radius: 4px; }
textarea.transcript { height: 200px; }
.reveal-modal h6 { border: 1px #ccc solid; border-width: 0 0 1px 0; }
.table-wrapper .ui-state-default ul { opacity: .65; }
#course .orbit-container h3 { margin-bottom: 30px; }
.class-bottom { margin-bottom: 40px; }
.class-title-bar { background-color: #f0f0f0; border-bottom: 1px solid #e0e0e0; padding: 10px 0; }
.class-title-bar a { font-size: 1.5em; color: #9acd2b; font-weight: 300; padding: 0; margin: 0;  }
.class-title-bar .button { margin-top: 5px; }
.class-title-bar .button.orange:hover { margin-top: 8px; border-bottom: none; }
.class-details-bar { background-color: #f0f0f0; border-bottom: 1px solid #e0e0e0; padding: 10px 0; margin-bottom: 40px; }
.vimeo { margin: 0; }
.video .primary-class-content { background-color: #000; }
.slideshow .primary-class-content, 
.quiz .primary-class-content { background-color: #fff; }
.resources { margin-top: 61px; }
.section-content-wrapper { box-shadow: 0 0 0; border: none; }
.section-content-wrapper h3 { margin-top: 30px; }
.slideshow .orbit-slides-container img { max-width: 50%; }
.slideshow .orbit-slides-container img.left { margin: 0 40px 20px 0; }
.slideshow .orbit-slides-container img.right { margin: 0 0 20px 20px; }  
.orbit-slide-number { color: #ccc!important; left: 0px!important; }
.success-icon-wrapper, 
.fail-icon-wrapper { padding-top: 5px!important; }
#success-icon,
#error-icon { height: 50px; fill: #fff; vertical-align: -17px; }
.success-message,  
.error-message { color: #fff; padding-left: 10px; }
.success-message-img { margin-top: -45px; margin-bottom: -45px; margin-left: 10%; max-width: 80%!important; }
.resources .side-nav li img { float: left; margin-right: 10px; margin-bottom: 10px; }
.resources .side-nav li { clear: left; }

/* footer */
footer { background-color: #f0f0f0; padding: 40px 0; }
footer ul { width: 100%; border-top: 1px solid #e0e0e0; }
footer li { padding: 40px 0; }
footer li, 
footer li a { color: #aaa; }
#logo-footer { height: 32px; margin-bottom: 60px; }
#fb_logo { height: 32px; }

/* forms */
::-webkit-input-placeholder,
:-moz-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder { color: #a5d340!important; }

/* Styles for screens that are under 768px; */
@media only screen and (max-width: 768px) {
  #lms .reveal-modal { left: 40%!important; width: 100%; }
  .reveal-modal .left-sub-nav { padding-top: 0; background-color: #fff; box-shadow: 0 0 0 rgba(0,0,0,0); }
  .reveal-modal .left-sub-nav #add-lesson-menu { margin-top: 0; }
  .button.add { width: 100%; }
  .settings { float: none!important; padding-left: 10px; padding-right: 20px; }
  .course-module { width: 47%; margin: 1.25%; border: 1px solid #ccc; height: auto; max-height: 180px; }
  .course-module h4 { font-size:  1em; padding-top: 10px; }
  .course-module .attribution img { max-width: 52px; }
/*  .course-module p { font-size: .84em; }*/
  .add-course { padding-top: 0; }
  .add-course h4 { padding-top: 0; }
  #lms .left-off-canvas-toggle { margin-top: -6px; margin-left: -9px; }
  #sign-up h1 { margin-top: 20px; }
  #sign-up .content-wrapper { margin: 40px 0; }
  .reveal-modal { padding: 1.875em; left: 0; top: 0; }
  .reveal-modal.xlarge { margin-left:0; width: 100%; height: 100vh; }
  .close-reveal-modal { border: 1px solid #f0f0f0; border-radius: 99px; padding: 3px 10px 10px 10px; } 
  aside.left-off-canvas-menu { margin-top: 0!important; }
  #logo-pages { display: none }
/* from marketing */
   #marketing.home #beta-badge { width: 64px; height: 64px; border-radius: 999px; background-color: #f46859; padding-top: .3em; float: right; margin-right: 10px; margin-bottom: 10px; }
   #marketing.home  #beta-badge p span.top { font-size: 13px; }
   #marketing.home  #beta-badge p span.bottom { font-size: 18px; line-height: 12px; }
   h4.tagline { color: #fff; opacity: .7; letter-spacing: .1em; margin-top: 20px; }
   #marketing.home #hero { padding-top: 10px; }
   #marketing.home .content-wrapper h3 { font-weight: bold; text-align: center; }
   .batbelt .button { float: right; }
   .mascot-wrapper { margin-top: -30px; }

	}