<svg version="1.1" id="logo-pages" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 360 51.3" enable-background="new 0 0 360 51.3" xml:space="preserve">
	<g>
		<path opacity="0.3" fill="#010101" d="M285.9,26.3l-0.3-0.2l0.3-0.2c2.7-1.8,4.3-5.3,4.4-9.5c0.1-4.3-1.3-8.2-3.8-10.8
						c-2.5-2.5-5.9-3.8-9.9-3.8h-20.7c-0.5,0-0.9,0.4-0.9,0.9v47.1c0,0.5,0.4,0.9,0.9,0.9h20.7c7.9,0,14.3-6.5,14.3-14.5
						C290.9,32.1,289,28.4,285.9,26.3z M264.4,11h11.4c2.8,0,4.8,2.2,4.8,5.3c0,3-2,5.3-4.8,5.3h-11.4V11z M275.8,41.2h-11.4V30.8h11.4
						c2.9,0,5.3,2.3,5.3,5.2C281,38.9,278.7,41.2,275.8,41.2z"/>
		<path opacity="0.3" fill="#010101" d="M163.9,1.7h-7.6c-0.6,0-1.1,0.5-1.1,1.1v28.7L133.1,2.1c-0.2-0.3-0.5-0.4-0.9-0.4h-5.5
						c-0.6,0-1.1,0.5-1.1,1.1v46.6c0,0.6,0.5,1.1,1.1,1.1h7.5c0.6,0,1.1-0.5,1.1-1.1V20.7l22.1,29.5c0.2,0.3,0.5,0.4,0.9,0.4h5.5
						c0.6,0,1.1-0.5,1.1-1.1V2.8C165,2.2,164.5,1.7,163.9,1.7"/>
		<path opacity="0.3" fill="#010101" d="M334.8,0.9c-13.9,0-25.2,11.3-25.2,25.2c0,13.9,11.3,25.2,25.2,25.2
						c13.9,0,25.2-11.3,25.2-25.2C360,12.2,348.7,0.9,334.8,0.9z M334.8,41.5c-8.5,0-15.4-6.9-15.4-15.4c0-8.5,6.9-15.4,15.4-15.4
						c8.5,0,15.4,6.9,15.4,15.4C350.2,34.6,343.3,41.5,334.8,41.5z"/>
		<path fill="#FFFFFF" d="M285,25.4l-0.3-0.2L285,25c2.7-1.8,4.3-5.3,4.4-9.5c0.1-4.3-1.3-8.2-3.8-10.8c-2.5-2.5-5.9-3.8-9.9-3.8H255
						c-0.5,0-0.9,0.4-0.9,0.9v47.1c0,0.5,0.4,0.9,0.9,0.9h20.7c7.9,0,14.3-6.5,14.3-14.5C290,31.2,288.1,27.5,285,25.4z M263.5,10.1
						h11.4c2.8,0,4.8,2.2,4.8,5.3c0,3-2,5.3-4.8,5.3h-11.4V10.1z M274.9,40.3h-11.4V29.9h11.4c2.9,0,5.3,2.3,5.3,5.2
						C280.1,38,277.8,40.3,274.9,40.3z"/>
		<path fill="#FFFFFF" d="M163,0.8h-7.6c-0.6,0-1.1,0.5-1.1,1.1v28.7L132.2,1.2c-0.2-0.3-0.5-0.4-0.9-0.4h-5.5
						c-0.6,0-1.1,0.5-1.1,1.1v46.6c0,0.6,0.5,1.1,1.1,1.1h7.5c0.6,0,1.1-0.5,1.1-1.1V19.8l22.1,29.5c0.2,0.3,0.5,0.4,0.9,0.4h5.5
						c0.6,0,1.1-0.5,1.1-1.1V1.9C164.1,1.3,163.6,0.8,163,0.8"/>
		<path fill="#FFFFFF" d="M333.9,0c-13.9,0-25.2,11.3-25.2,25.2c0,13.9,11.3,25.2,25.2,25.2c13.9,0,25.2-11.3,25.2-25.2
						C359.1,11.3,347.8,0,333.9,0z M333.9,40.6c-8.5,0-15.4-6.9-15.4-15.4c0-8.5,6.9-15.4,15.4-15.4c8.5,0,15.4,6.9,15.4,15.4
						C349.3,33.7,342.4,40.6,333.9,40.6z"/>
		<path opacity="0.3" fill="#010101" d="M210,0.9c-13.9,0-25.2,11.3-25.2,25.2s11.3,25.2,25.2,25.2c13.9,0,25.2-11.3,25.2-25.2
						S223.9,0.9,210,0.9z M210,41.5c-8.5,0-15.4-6.9-15.4-15.4s6.9-15.4,15.4-15.4c8.5,0,15.4,6.9,15.4,15.4S218.5,41.5,210,41.5z"/>
		<path fill="#FFFFFF" d="M209.1,0c-13.9,0-25.2,11.3-25.2,25.2s11.3,25.2,25.2,25.2c13.9,0,25.2-11.3,25.2-25.2S223,0,209.1,0z
						 M209.1,40.6c-8.5,0-15.4-6.9-15.4-15.4s6.9-15.4,15.4-15.4c8.5,0,15.4,6.9,15.4,15.4S217.6,40.6,209.1,40.6z"/>
		<path opacity="0.3" fill="#010101" d="M80.7,0.9c-13.9,0-25.2,11.3-25.2,25.2s11.3,25.2,25.2,25.2c13.9,0,25.2-11.3,25.2-25.2
						S94.6,0.9,80.7,0.9z M80.7,41.5c-8.5,0-15.4-6.9-15.4-15.4s6.9-15.4,15.4-15.4c8.5,0,15.4,6.9,15.4,15.4S89.1,41.5,80.7,41.5z"/>
		<path fill="#FFFFFF" d="M79.8,0C65.9,0,54.6,11.3,54.6,25.2s11.3,25.2,25.2,25.2c13.9,0,25.2-11.3,25.2-25.2S93.7,0,79.8,0z
						 M79.8,40.6c-8.5,0-15.4-6.9-15.4-15.4S71.3,9.8,79.8,9.8c8.5,0,15.4,6.9,15.4,15.4S88.3,40.6,79.8,40.6z"/>
		<path opacity="0.3" fill="#010101" d="M31.8,26.3l-0.3-0.2l0.3-0.2c2.7-1.8,4.3-5.3,4.4-9.5c0.1-4.3-1.3-8.2-3.8-10.8
						c-2.5-2.5-5.9-3.8-9.9-3.8H1.8c-0.5,0-0.9,0.4-0.9,0.9v47.1c0,0.5,0.4,0.9,0.9,0.9h20.7c7.9,0,14.3-6.5,14.3-14.5
						C36.7,32.1,34.8,28.4,31.8,26.3z M10.3,11h11.4c2.8,0,4.8,2.2,4.8,5.3c0,3-2,5.3-4.8,5.3H10.3V11z M21.6,41.2H10.3V30.8h11.4
						c2.9,0,5.3,2.3,5.3,5.2C26.9,38.9,24.6,41.2,21.6,41.2z"/>
		<path fill="#FFFFFF" d="M30.9,25.4l-0.3-0.2l0.3-0.2c2.7-1.8,4.3-5.3,4.4-9.5c0.1-4.3-1.3-8.2-3.8-10.8c-2.5-2.5-5.9-3.8-9.9-3.8
						H0.9C0.4,0.8,0,1.2,0,1.6v47.1c0,0.5,0.4,0.9,0.9,0.9h20.7c7.9,0,14.3-6.5,14.3-14.5C35.8,31.2,33.9,27.5,30.9,25.4z M9.4,10.1
						h11.4c2.8,0,4.8,2.2,4.8,5.3c0,3-2,5.3-4.8,5.3H9.4V10.1z M20.7,40.3H9.4V29.9h11.4c2.9,0,5.3,2.3,5.3,5.2
						C26,38,23.7,40.3,20.7,40.3z"/>
	</g>
</svg>