<a class="dd" href="#" data-dropdown="drop1">
	<%= image_tag 'mascot-face.svg', :class => "profile-sm" %><%= @user.full_name %><span></span>
</a>
<ul id="drop1" class="f-dropdown" data-dropdown-content="">
	<li><%= link_to "Account", users_edit_path %></li>
	<li><%= link_to 'Sign Out', log_out_path, :class => "sign-out" %></li>
</ul>