<!DOCTYPE html>
  <!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
  <!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
  <!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
  <!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
  <!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->

  <%= render :file => '/layouts/head' %>

  <body id="lms">

  	<%= javascript_include_tag "application" %>

    <div class="off-canvas-wrap">
		<div class="inner-wrap">

			<%= render '/layouts/header' %>

			<!-- Off Canvas Menu -->
		    <aside class="left-off-canvas-menu">
		    	<div class="side-nav-wrapper">
					<ul class="side-nav">
						<li><%= link_to :new_course_path, 'Details' %></li>
						<li><a href="syllabus-template.html">Syllabus</a></li>
					</ul>
				</div>
		    </aside>
			<div class="row">
				<div id="light-menu-wrapper" class="large-2 medium-2 columns hide-for-small-only">
					<div id="info-wrapper">
						<h1><span>Class Name</span><br><%= @course.title %></h1>
					    <% if @lessons && !@lessons.empty? %>
					    	<%= link_to 'Preview', videolesson_path(@lessons.first), :class => 'button radius small', :target => '_blank' %>
					    <% else %>
							<a href="javascript:void(0)" class="button radius small" disabled="disabled">Preview</a>
					    <% end %>
					    <% if @course.published %>
					    	<a class="button radius small publish disabled" href="javascript:void(0);" method="post">Publish</a>
					    <% elsif @course.count_lessons >= 3 %>
					    	<% if @user.stripe_id %>
					    		<%= link_to 'Publish', course_publish_path(@course, :userId => @user.id), :class => 'button radius small publish', remote: true, :id => 'publish-course' %>
					    	<% else %>
					    		<a class="button radius small publish" data-reveal-id="no-bank-account">Publish</a>
					    	<% end %>
					    <% else %>
					    	<a class="button radius small publish" onclick="alertToLessLessons();">Publish</a>
					    <% end %>
					</div>
					<div class="light-side-nav-wrapper">
						<ul class="side-nav">
							<li id="details">
								<%= link_to 'Details', course_path(@course) %>
							</li>
							<li id="lessons" class="clearfix">
								<%= link_to 'Syllabus', lessons_path(:course_id => @course.id), :id => 'syllabus' %>
								<span class="flag"><%= @course.count_lessons %></span>
							</li>
							<li id="settings">
								<%= link_to 'Settings', course_settings_path(@course) %>
							</li>
						</ul>
					</div>
				</div>
				
				<%= yield %>

			</div>
		</div>
	</div>

	<%= render 'courses/bank_modal' %>

	<%= render 'courses/no_bank_account' %>

    <script type="text/javascript">
    	
    	<%= render '/layouts/headerjs' %>

		function alertToLessLessons() {
	        $("div.alert > p").html("You must have at least 3 lessons to publish your course. If you would like to preview your course click Preview");
	        $("div.alert").removeAttr('style');	
		}
    </script>
    
  </body>
</html>

