<!DOCTYPE html>
  <!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
  <!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
  <!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
  <!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
  <!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->

  <%= render :file => '/layouts/head' %>

  <body id="lms">

  	<%= javascript_include_tag "application" %>

    <div class="off-canvas-wrap">
		<div class="inner-wrap">

			<%= render '/layouts/header' %>

			<div class="row">
				<div id="light-menu-wrapper" class="large-2 medium-2 columns hide-for-small-only">
					<div class="light-side-nav-wrapper">
						<ul class="side-nav">
							<li id="my-courses" class="active">
								<%= link_to 'My Courses', courses_path %>
							</li>
							<li id="media-library"><a href="media-library.html">
								My Media Library</a>
							</li>
						</ul>
					</div>
				</div>
				
				<%= yield %>

			</div>
		</div>
	</div>

    <script type="text/javascript">
    	$(document).ready(function(){ // On load
			$('#light-menu-wrapper').css({'height':(($(window).height()))+'px'});
			$('.left-sub-nav').css({'height':(($(window).height()))+'px'});
			$('#main-wrapper').css({'height':(($(window).height()))+'px'});			
		});
		$(window).resize(function(){ // On resize
			$('#light-menu-wrapper').css({'height':(($(window).height()))+'px'});
			$('.left-sub-nav').css({'height':(($(window).height()))+'px'});
		});
		<%= render '/layouts/headerjs' %>
    </script>
    
  </body>
</html>