<head>
	<meta charset="utf-8" />

	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title><%= content_for?(:title) ? yield(:title) : "Bonobo Beta" %></title>

	<%= stylesheet_link_tag    "application" %>      
	<%= javascript_include_tag "vendor/modernizr" %>
	<%= javascript_include_tag "https://js.stripe.com/v2/" %>
  	<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" %>

	<%= yield(:custom_head) %>

	<%= csrf_meta_tags %>
</head>