<!DOCTYPE html>
  <!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
  <!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
  <!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
  <!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
  <!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->

  <%= render :file => '/layouts/head' %>

  <body id="course" class="video">
	<div class="off-canvas-wrap">
  		<div class="inner-wrap">
    		<nav class="tab-bar">
		      <section class="left-small">
		        <a class="left-off-canvas-toggle menu-icon"><span></span></a>
		      </section>
		      <section class="middle tab-bar-section">
		      	<div class="row">
		      		<div class="large-10 medium-10 columns">
		      			<%= link_to @course.title, course_path(@course), :class=>"course-title" %>
		        		<%= image_tag "logo-sm.png", :class=>"logo" %>
		      		</div>
		      		<div class="large-2 medium-2 columns settings">
						<%= render '/layouts/user_context_menu' %>
		      		</div>
		      	</div>
		      </section>
		    </nav>

		    <!-- Off Canvas Menu -->
		    <aside class="left-off-canvas-menu" style="height:2000px;">
		    	<h6>Progress</h6>
		    	<div class="progress small-4 success round"><span class="meter" style="width: 40%"></span></div>
			    <ul class="off-canvas-list">
			    	<% @lessons.each_with_index do |lesson, index|  %>
			    		<li id="lesson-<%= lesson.id %>" class="video-type <% if lesson.id == @lesson.id %> active <% end %>">
			    			<%= link_to lesson.title, videolesson_path(lesson) %>
			    		</li>	
			    	<% end %>
			    </ul>
		    </aside>

		    <!-- main content goes here -->
		    <div class="row">
		    	<div class="large-12 columns">
		    		<h6 class="lesson-count">Lesson <%= @lesson_number+1 %> of <%= @lessons.length %></h6>
					<div class="row">
						<div class="large-9 medium-9 columns">
							<%= yield %>
						</div>
						<div class="large-3 medium-3 columns">
							<%= link_to raw('Next Lesson<span></span>'), videolesson_path(@next_lesson), :class => 'button medium radius next disabled' %>
							<!-- <div class="panel radius">
								<h6>Downloads</h6>
								<ul class="side-nav">
								  <% @lesson_resources.each do |lesson_resource| %>
								  	<li>
								  		<% if lesson_resource.media_library.link %>
								  			<a target="_blank" href="<%= lesson_resource.media_library.link %>">
								  				<%= lesson_resource.media_library.name %>
								  			</a>								  			
								  		<% else %>
								  			<%= link_to lesson_resource.media_library.name, lesson_image_path(lesson_resource.media_library), :target => '_blank' %>
								  		<% end %>
								  	</li>
								  <% end %>
								</ul>
							</div>-->
							<div class="panel">
								<h6><span class="quiz"></span>Instructor</h6>
							</div>
						</div>
					</div>
		    	</div>
		    </div>
			<!-- close the off-canvas menu -->
			<a class="exit-off-canvas"></a>
	  	</div>
	</div>

	<%= javascript_include_tag "application" %>

	<script type="text/javascript">
    	$(document).ready(function() {
		  $('.check-defaut').click(function(event) {
		  	$('.section-button-wrapper').addClass('success');
		  	$('.next').show();
		  });
		  $('#lesson-1').addClass('active');
    	});
    </script>
    
  </body>
</html>