<!DOCTYPE html>
  <!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
  <!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
  <!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
  <!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
  <!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  
  <%= render :file => '/layouts/head' %>

  <body id="sign-up">

    <%= render '/layouts/header' %>

    <div class="row">
      <div class="large-12 columns">
        <h1>Account Sign Up</h1>
      </div>  
    </div>

    <%= yield %>

    <%= javascript_include_tag "application" %>
    
  </body>
</html>
