<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->



<%= render :file => '/layouts/head' %>

<body id="lms">
	<%= javascript_include_tag "application" %>
	<div class="off-canvas-wrap">
  		<div class="inner-wrap">
			<%= render '/layouts/header' %>

			<!-- Off Canvas Menu -->
		    <aside class="left-off-canvas-menu">
		    	<div class="side-nav-wrapper" >
					<ul class="side-nav">
						<li id="courses"><a href="my-courses-template.html">Classes</a></li>
						<li id="my-courses"><a href="my-courses-template.html">&raquo; My Classes</a></li>
						<li id="media-library"><a href="media-library.html">&raquo; My Media Library</a></li>
						<li id="payments"><a href="payments-template.html">Sales</a></li>
						<li id="profile"><a href="bio-template.html">Profile</a></li>
						<li class="settings"><a class="dd" href="#"><img src="content/profile-pic.jpg" class="profile-sm">username<span></span></a></li>
					</ul>
				</div>
		    </aside>
			
			<% if flash[:alert] %>
  				<div data-alert class="alert-box radius success">
 					<p><%= flash[:alert] %></p>
 					<a href="#" class="close">&times;</a>
				</div>
			<% end %>

			<div class="row">
				<div class="large-10 medium-10 large-centered medium-centered columns">
					<div class="content-wrapper">
						<dl class="tabs" data-tab data-options="deep-linking: true">
							<dd class="active"><a href="#bio">Profile</a></dd>
							<dd><a href="#bank-account">Bank Account</a></dd>
							<dd><a href="#account-settings">Account Settings</a></dd>
						</dl>
						<div class="tabs-content tabs-conent-wrapper">
							<div class="content active" id="bio">
								<%= render 'bioForm' %>
							</div>
							<div class="content" id="bank-account">
								<%= render 'bankAccountForm' %>
							</div>
							<div class="content" id="account-settings">
								account settings will go here
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- modals go here -->
		
  <script src="foundation-5.0.2/js/vendor/jquery.js"></script>	
  <script src="foundation-5.0.2/js/foundation.min.js"></script>
  <script src="assets/js/app.js"></script>

  <script>
    $(document).foundation();

    $(document).ready(function() {
    	
    	$('#bank-form').hide();
    	$('#printed-bank-info').hide();
    	$('#change-bank-info').click(function(event) {
	    	/* Act on the event */
	    	$('#bank-form').show();
	    	$('#bank-added-label').hide();
    	});
    	$('#cancel-bank-form').click(function(event) {
    		/* Act on the event */
    		$('#bank-form').hide();
	    	$('#bank-added-label').show();
    	});
    });
    
  </script>

</body>
</html>

